<table border="0" cellspacing="0" cellpadding="0" class="table table-responsive table-condensed table-striped">
    <tbody>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Наименование
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p>
                    Отечественные<br> холодильники, руб.
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p>
                    Импортные<br> холодильники, руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Выезд мастера
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
            </td>
            <td twidth="105" nowrap="" valign="bottom">
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Диагностика (определение заявленной неисправности без
                    тех.заключения)
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    500
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Выезд мастера + Диагностика изделия с разбором
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1500
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена мотор-компрессора
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1900
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    2300
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена испарителя
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    2500
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    3100
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена электронного модуля
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1200
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена конденсатора
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1600
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    2000
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена фильтра-осушителя
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1100
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1300
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена трубопровода
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    400
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена термостата
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    350
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    800
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена терморегулятора
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    800
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1800
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена реле
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    800
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1000
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена мотора вентилятора
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    800
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1000
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена электросхемы
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    2500
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    3100
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена таймера
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    700
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1300
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена датчика оттайки холода
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    900
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1100
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена датчика перегрева
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1000
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1200
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена вентилятора
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1000
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1200
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена датчика оттайки холода
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    800
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1100
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена тена оттайки
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    700
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    900
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена предохранителя
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1200
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена уплотнительной резины
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    2000
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    2500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена блока сигнализации «Атлант»
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    600
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    700
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена шнура электропитания
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    400
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    750
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена контура холодильника
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    2000
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    2500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Установка нового электронного датчика температуры
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1700
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    2100
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    <strong>Ремонт агрегатов и узлов</strong>
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
            </td>
            <td twidth="105" nowrap="" valign="bottom">
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Ремонт испарителя
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    700
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1300
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Вакуумация
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    400
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Устранение засора капиллярного трубопровода
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    2100
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    2600
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Устранение утечки хладагента
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    600
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1400
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Заправка холодильного агрегата хладагентом
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    900
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1200
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Прочистка капиллярной трубы
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1800
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    2200
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Замена фильтра
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    400
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    850
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Прочистка дренажной системы с частичной разборкой
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    500
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1100
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Удаление контура холодильника
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1200
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1500
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Обезличенный ремонт платы управления
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    4300
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    4300
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Ремонт электросхемы
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    900
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1100
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    <strong>Работы</strong>
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
            </td>
            <td twidth="105" nowrap="" valign="bottom">
            </td>
        </tr>
        <tr>
            <td twidth="473" nowrap="" valign="bottom">
                <p>
                    Разбор холодильника для проведения работ
                </p>
            </td>
            <td twidth="112" nowrap="" valign="bottom">
                <p align="right">
                    1200
                </p>
            </td>
            <td twidth="105" nowrap="" valign="bottom">
                <p align="right">
                    1500
                </p>
            </td>
        </tr>
    </tbody>
</table>