<div class="row mgtop30px">
    <div class="col-md-3 text-center  ">
        <a href="#"  class="clickprice" v-click="1c">
            <img src = "../assets/img/remont/holod/1.png">
            <h4>Ремонт льдогенераторов</h4>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/remont-vesov"  class="clickprice" v-click="2c">
            <img src = "../assets/img/remont/holod/2.png">
            <h4>Ремонт холодильных камер</h4>
        </a>
    </div>
    <div class="col-md-3 text-center" >
        <a href="#" class="clickprice" v-click="3c">
            <img src = "../assets/img/remont/holod/3.png">
            <h4>Ремонт моноблоков</h4>
        </a>
    </div>
    <div class="col-md-3 text-center" >
        <a href="" class="clickprice" v-click="4c">
            <img src = "../assets/img/remont/holod/4.png">
            <h4>Ремонт морозильных ларей</h4>
        </a>
    </div>
    <div class="col-md-3 text-center" >
        <a href="#" class="clickprice" v-click="5c">
            <img src = "../assets/img/remont/holod/5.png">
            <h4>Ремонт сплит систем</h4>
        </a>
    </div>
    <!-- <div class="col-md-3 text-center">
        <a href="/remont-neitralnogo-oborudovaniya"  class="clickprice" v-click="6c">
            <img src = "../assets/img/remont/holod/6.jpg">
            <h4>Ремонт холодильных столов</h4>
        </a>
    </div> -->
    <div class="col-md-3 text-center" >
        <a href="#" class="clickprice" v-click="7c">
            <img src = "../assets/img/remont/holod/7.jpg">
            <h4>Ремонт прилавков</h4>
        </a>
    </div>
    <div class="col-md-3 text-center" >
        <a href="#" class="clickprice" v-click="8c">
            <img src = "../assets/img/remont/holod/8.jpg">
            <h4>Ремонт шкафов</h4>
        </a>
    </div>
</div>

