<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Оперативный ремонт холодильного оборудования. Качественно и надежно. Самые низкие цены на рынке. Убедитесь сами.">
    <meta name="author" content="">
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>{{page.title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../assets/css/catslider.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="../assets/js/modernizr.custom.63321.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--nav-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Переключить навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../assets/img/logo1.png" width="140">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <span class="slogan-span">Надежный партнер - качественные решения!</span>
            <ul class=" nav navbar-nav navbar-right pt5px">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle color-black" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Навигация <span class="caret"></span></a>
                    <ul class="dropdown-menu dm-main">
                        <li>
                            <a href="technicheskoe-obsluzhivanie-oborudovaniya">Техническое обслуживание</a>
                        </li>
                        <li>
                            <a href="remont-oborudovaniya">Ремонт оборудования</a>
                        </li>
                        <li>
                            <a href="montazh-oborudovaniya">Монтаж оборудования</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="stellazhi">Стеллажи</a>
                        </li>
                        <li>
                            <a href="torg-mebel">Торговая мебель</a>
                        </li>
                        <li>
                            <a href="telezhki-korzini">Тележки и корзины</a>
                        </li>
                        <li>
                            <a href="kass-boxes">Кассовые боксы</a>
                        </li>
                        <li>
                            <a href="holod-oborudovanie">Холодильное оборудование</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="delivery">Условия доставки</a>
                        </li>
                        <li>
                            <a href="about">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="c42" href="#">
                        <i class="fa fa-phone "></i>
                        <!--8 (343) 380 77 77-->
                        8 (992) 3340154
                    </a>
                </li>
                <li>
                    <a class="c42" href="mailto:info@optimagp.ru">
                        <i class="fa fa-envelope"></i> info@optimagp.ru
                    </a>
                </li>
                <li class="active">
                    <a href="#f" class="pt10px">
                        <button class='btn btn-sm btn-primary ' type="button">Заказать звонок</button>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!--nav-->
<div class="container menu-main holod-remont">
    <!--bread-->
    <div class="mh40px">
        <ol class="breadcrumb  nav-bread ">
            <li>
                <a href=".">Главная</a>
            </li>
            <li>
                <a href="/remont-oborudovaniya">Ремонт оборудования</a>
            </li>
            <li class="active">
                Ремонт холодильного оборудования
            </li>
        </ol>
        <br/>
        <br/>
    </div>
    <h1>Оперативный и качественный ремонт холодильного оборудования</h1>

   <div>
  
       <!---https://pp.userapi.com/c639416/v639416314/154d9/hT1LZtGxoqs.jpg -->
      <div class="col-md-6">
        <img  alt="Ремонт холодильного оборудования в Екатеринбурге" class="holod-big-img img-responsive" src="/assets/img/rem.jpg" />
      </div>
     -<div class="col-md-6"><img alt="Мастер по ремонту холодильного оборудования" class="img-master img-responsive" src="https://pp.userapi.com/c639619/v639619615/5ba9b/Xy_R7elQo1o.jpg" title="Ремонт холодильного оборудования, мастер" /></div>
<!---/assets/img/x3.jpg-->

       <div class="clearfix"></div>
      <p>Осуществляем оперативный ремонт холодильного оборудования </p>
      <p>Работаем в Екатеринбурге и Свердловской области.</p>
<p>Выявляем возможные поломки на ранних стадиях, экономя тем самым до 40% расходов на обслуживание и ремонт оборудования</p>

      <a class="btn btn-danger show-prices" href="#prices">Цены на ремонт оборудования</a>
   </div>
    <!--bread-->
    {{ page.text|safe }}
    {% include "remont/holod_icons.html" %}
    <br><br>
        <div id="prices">&nbsp;</div>

    <div class="align-center">
         <a class="btn btn-danger show-prices" href="#">Посмотреть цены на ремонт</a>
    </div>

     <div class="hidden hidden-price">
        <h3>Наши цены</h3>
        {% include "remont/holod_price.html" %}
    </div>

</div>
<!--container-->
<div class="greyback" id="f">
    <div class="row">
        <div class="col-md-6 col-md-offset-3  centered">
            <h4 class="app-h">Оставьте заявку</h4>
            <div class="col-md-10 col-md-offset-1">
                <form role="form" action="send-form" method="post" enctype="plain">
                    <input type="name" name="name" class="subscribe-input" placeholder="Имя" required>
                    <input type="phone" name="phone" class="subscribe-input" placeholder="Телефон" required>
                    <input title="Комментарий" name="text" class="subscribe-input hidden" placeholder="Комментарий"
                           value="без коммента">
                    <br/>
                    <button class='btn btn-md btn-primary subscribe-submit' type="submit">Заказать</button>
                </form>
            </div>
        </div>
    </div>
    <!--/row -->
</div>
<!--/greyback -->
<footer class="footer-remont">
    <p class="text-p centered mt">620075, г. Екатеринбург, ул. Мамина Сибиряка, д. 101 оф. 113 &nbsp Телефон:
    <!--8 (343) 380 77 77-->
    8 (992) 3340154
 &nbsp &copy; ОПТИМА ГРУПП</p>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/retina-1.1.0.js"></script>
<script>
    $(function() {
    $('.show-prices').click(function(event) {
	    event.preventDefault();
        $('.hidden-price').removeClass('hidden');
        $('html,body').animate({scrollTop:$('#prices').offset().top + 50}, 1000);
    })
     $('.clickprice').click(function(event){
        event.preventDefault();
        var $destination = $('#'+this.getAttribute('v-click'));
        $('.hidden-price').removeClass('hidden');
        $('html,body').animate({scrollTop:$destination.offset().top-60}, 1000);
    });
});
</script>
<!-- RedConnect -->
<script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async"
src="https://web.redhelper.ru/service/main.js?c=nevernight721">
 
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter42278174 = new Ya.Metrika({
                    id: 42278174,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true,
                    trackHash: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/42278174" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">
       $('#rc-copyright').text('ddd');
</script>
<!--/RedConnect -->
</body>

</html>
