<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/img/favicon.ico">
    <title>Ремонт и обслуживание холодильного оборудования в Екатеринбурге </title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../assets/css/catslider.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="../assets/js/modernizr.custom.63321.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <!--nav-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Переключить навигацию</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo1.png" width="140">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <span class="slogan-span">Надежный партнер - качественные решения!</span>
                <ul class=" nav navbar-nav navbar-right pt5px">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle color-black" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Навигация <span class="caret"></span></a>
                        <ul class="dropdown-menu dm-main">
                            <li>
                                <a href="technicheskoe-obsluzhivanie">Техническое обслуживание</a>
                            </li>
                            <li>
                                <a href="remont">Ремонт оборудования</a>
                            </li>
                            <li>
                                <a href="montazh-oborudovaniya">Монтаж оборудования</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="stellazhi">Стеллажи</a>
                            </li>
                            <li>
                                <a href="torg-mebel">Торговая мебель</a>
                            </li>
                            <li>
                                <a href="telezhki-korzini">Тележки и корзины</a>
                            </li>
                            <li>
                                <a href="kass-boxes">Кассовые боксы</a>
                            </li>
                            <li>
                                <a href="holod-oborudovanie">Холодильное оборудование</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="delivery">Условия доставки</a>
                            </li>
                            <li>
                                <a href="about">Контакты</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="c42" href="#">
                            <i class="fa fa-phone "></i> 8 (343) 3448090
                        </a>
                    </li>
                    <li>
                        <a class="c42" href="mailto:info@optimapo.ru">
                            <i class="fa fa-envelope"></i> info@optimapo.ru
                        </a>
                    </li>
                    <li class="active">
                        <a href="#f" class="pt10px">
                            <button class='btn btn-sm btn-primary ' type="button">Заказать звонок</button>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!--nav-->
    <div class="container menu-main">
        <!--bread-->
        <div class="mh40px">
            <ol class="breadcrumb  nav-bread ">
                <li>
                    <a href=".">Главная</a>
                </li>
                <li>
                    <a href="/remont">Ремонт оборудования</a>
                </li>
                <li class="active">
                    Ремонт холодильного оборудования
                </li>
            </ol>
            <br/>
            <br/>
        </div>
        <!--bread-->
        <h1>Ремонт холодильного оборудования в Екатеринбурге и области</h1>
        <p>Группа компаний Оптима Групп имеет многолетнюю историю и большой опыт.</p>
        <p> Наш сервисный центр занимается ремонтом и обслуживанием холодильного оборудования на территории Екатеринбурга и Свердловской области более пяти лет.</p>
        <p> Вышло из строя холодильное оборудование? Нужен мастер по ремонту? Тогда вам к нам. Предоставляем гарантии на все виды ремонта. Помимо ремонта наш серисный центр занимается <a href="../technicheskoe-obsluzhivanie"> сервисным обслуживанием</a> и <a href="../montazh">монтажом </a> холодильного оборудования.</p>
        <p>Заключая с нами договор, вы получаете качественный, отвественный сервис в самые краткие сроки.</p>
        <h2>Почему следует заказать ремонт у нас?</h2>
        <img src="../assets/img/the_shining4.jpg" class="img-responsive img-remont" title=" пример поломки оборудования">
        <p>Наши мастера производят работы по ремонту ларей, витрин, холодильных и морозильных камер, моноблоков, неохлаждаемых прилавков, шкафов шоковой заморозки, холодильных и морозильных шкафов, бонетов, кондитерских витрин и многого другого.</p>
        <p>Работаем со всеми производителями. Максимально быстро реагируем на заявки. Качественно и по выгодным ценам. За долгие годы практики мы получили бесценный опыт, и именно поэтому вам стоит обратиться в Оптима Групп.</p>
        <h2>Цены на ремонт оборудования</h2>
        <br>
        <br>
        <div class="table">
            <div class="like-table like-table-header">
                <span class="">Наименование оборудования</span>
                <span>Демонтаж для ремонта, руб</span>
                <span>Монтаж после ремонта, руб</span>
                <span>Диагностика оборудования, руб</span>
                <span>Простой ремонт</span>
                <span>Сложный</span>
                <span>Очень сложный</span>
            </div>
            <!--/row-->
            <div class="like-table">
                <h3>Ремонт льдогенераторов</h3>
            </div>
            <!--/row-->
            <p class="like-table">
                <span class="">
                    Льдогенератор производительностью до 20-ти кг/сут
                </span>
                <span class="">350</span>
                <span class="">650</span>
                <span class="">500</span>
                <span class="">800</span>
                <span class="">1700</span>
                <span class="">3400</span>
            </p>
            <!--/row-->
            <p class="like-table">
                <span class="">Льдогенератор производительностью свыше 20-ти кг/сут</span>
                <span class="">500</span>
                <span class="">1200</span>
                <span class="">500</span>
                <span class="">900</span>
                <span class="">1800</span>
                <span class="">3500</span>
            </p>
            <!--/row-->
            <!-- /льдогенераторы-->
            <!-- камеры -->
            <!--/row-->
            <div class="like-table">
                <h3>Холодильные камеры</h3></div>
            <p class="like-table">
                <span class="p-in-d">Холодильная камера объем до 3-х м3</span>
                <span class="">2100</span>
                <span class="">1800</span>
                <span class="">300</span>
                <span class="">800</span>
                <span class="">1600</span>
                <span class="">4000</span>
            </p>
            <!--/row-->
            <p class="like-table">
                <span class="p-in-d">Холодильная камера объем от 3-х до 6-и м3</span>
                <span class="">2200</span>
                <span class="">2000</span>
                <span class="">300</span>
                <span class="">850</span>
                <span class="">1650</span>
                <span class="">4100</span>
            </p>
            <!--/row-->
            <p class="like-table">
                <span class=" p-in-d">Холодильная камера объем от 6-и до 9-и м3</span>
                <span class="">2300</span>
                <span class="">3100</span>
                <span class="">300</span>
                <span class="">900</span>
                <span class="">1700</span>
                <span class="">4200</span>
            </p>
            <!--/row-->
            <p class="like-table">
                <span class=" p-in-d">Холодильная камера объем от 9-и до 15-и м3</span>
                <span class="">2350</span>
                <span class="">4000</span>
                <span class="">300</span>
                <span class="">950</span>
                <span class="">1800</span>
                <span class="">4500</span>
            </p>
            <!--/row-->
            <p class="like-table">
                <span class=" p-in-d">Холодильная камера объем свыше 15 м3</span>
                <span class="">3100</span>
                <span class="">5600</span>
                <span class="">300</span>
                <span class="">1000</span>
                <span class="">1900</span>
                <span class="">4700</span>
            </p>
            <!--/row-->
            <p class="like-table">
                <span class="p-in-d">Моноблок среднетемпературный</span>
                <span class="">1250</span>
                <span class="">2350</span>
                <span class="">350</span>
                <span class="">1000</span>
                <span class="">1800</span>
                <span class="">3500</span>
            </p>
            <!--/row-->
            <p class="like-table">
                <span class="p-in-d">Моноблок низкотемпературный</span>
                <span class="">1350</span>
                <span class="">3100</span>
                <span class="">350</span>
                <span class="">1000</span>
                <span class="">1800</span>
                <span class="">3800</span>
            </p>
            <!--/row-->
            <p class="like-table">
                <span class="p-in-d">Сплит система (5 м)</span>
                <span class="">1850</span>
                <span class="">4000</span>
                <span class="">450</span>
                <span class="">1300</span>
                <span class="">2600</span>
                <span class="">5000</span>
            </p>
            <!--/row-->
            <!-- /камеры -->
            <!-- столы прилавки шкафы, лари-->
            <div class="like-table">
                <h3>Холодильные столы, прилавки, шкафы</h3>
            </div>
            <!--/row-->
            <div class="like-table">
                <p class=" p-in-d">Морозильный ларь</p>
                <div class="">150</div>
                <div class="">250</div>
                <div class="">350</div>
                <div class="">850</div>
                <div class="">1500</div>
                <div class="">3700</div>
            </div>
            <!--/row-->
            <div class="like-table">
                <p class="p-in-d">Прилавок охлаждаемый закрытый </p>
                <div class="">550</div>
                <div class="">1100</div>
                <div class="">350</div>
                <div class="">900</div>
                <div class="">1600</div>
                <div class="">4400</div>
            </div>
            <!--/row-->
            <div class="like-table">
                <div class="p-in-d">Прилавок охлаждаемый открытый </div>
                <div class="">550</div>
                <div class="">1100</div>
                <div class="">350</div>
                <div class="">900</div>
                <div class="">1600</div>
                <div class="">4400</div>
            </div>
            <!--/row-->
            <div class="like-table">
                <div class="p-in-d">Шкаф холодильный до 1,3 м3</div>
                <div class="">300</div>
                <div class="">300</div>
                <div class="">350</div>
                <div class="">600</div>
                <div class="">1000</div>
                <div class="">3200</div>
            </div>
            <!--/row-->
            <div class="like-table">
                <div class="p-in-d">Шкаф холодильный свыше 1,3 м3</div>
                <div class="">300</div>
                <div class="">300</div>
                <div class="">350</div>
                <div class="">700</div>
                <div class="">1100</div>
                <div class="">3300</div>
            </div>
            <!--/row-->
            <div class="like-table">
                <div class="p-in-d">Шкаф морозильный до 1,3 м3</div>
                <div class="">300</div>
                <div class="">300</div>
                <div class="">350</div>
                <div class="">700</div>
                <div class="">1100</div>
                <div class="">3300</div>
            </div>
            <!--/row-->
            <div class="like-table">
                <div class="p-in-d">Шкаф морозильный свыше 1,3 м3</div>
                <div class="">300</div>
                <div class="">300</div>
                <div class="">350</div>
                <div class="">800</div>
                <div class="">1200</div>
                <div class="">3400</div>
            </div>
            <!--/row-->
            <!-- столы прилавки шкафы, лари-->
        </div>
        <!--/table-->
        <h3>Примечания</h3>
        <p>В случае, если по результатам выезда и диагностики для клиента ремонт оборудования становится нецелесообразным, отдельно оплачивается только выезд специалиста 400 рублей и стоимость диагностики</p>
        <p>Выезд специалиста по ремонту за пределы города дополнительно оплачивается из расчета 10 руб/км</p>
        <p>Стоимость работ в прайс-листе указана с учетом НДС 18%.</p>
        <h3>Обучению ремонту и сервисному обслуживанию оборудования</h3>
        <p>Мы проводим обучение ремонту и сервисному обслуживанию холодильного оборудования. Первокласнные специалисты делятся своим опытом. Курсы проводятся на территории Уральского Педагогического Университета.</p>
        <p>Так же вас могут заинтересовать предложения нашего сервисного центра на монтаж/демонтаж и техническое обслуживание оборудования</p>
        <br>
        <div class="row centered ">
            <div class="col-md-3 col-md-offset-3">
                <a href="../technicheskoe-obsluzhivanie" title="Техническое обслуживание оборудования">
                    <img src="../assets/img/service.jpg">
                    <h4>Техническое обслуживание</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="../montazh-oborudovaniya" title="Монтаж-демонтаж оборудования">
                    <img src="../assets/img/montazh.jpg">
                    <h4>Монтаж оборудования</h4>
                </a>
            </div>
        </div>
    </div>
    <!--container-->
    <div class="greyback" id="f">
        <div class="row">
            <div class="col-md-6 col-md-offset-3  centered">
                <h4 class="app-h">Оставьте заявку</h4>
                <div class="col-md-10 col-md-offset-1">
                    <form role="form" action="send-form" method="post" enctype="plain">
                        <input type="name" name="name" class="subscribe-input" placeholder="Имя" required>
                        <input type="phone" name="phone" class="subscribe-input" placeholder="Телефон" required>
                        <input title="Комментарий" name="text" class="subscribe-input hidden" placeholder="Комментарий" value="без коммента">
                        <br/>
                        <button class='btn btn-md btn-primary subscribe-submit' type="submit">Заказать</button>
                    </form>
                </div>
            </div>
        </div>
        <!--/row -->
    </div>
    <!--/greyback -->
    <footer class="footer-remont">
        <p class="text-p centered mt">Наш адрес: г. Екатеринбург,ул. 8 марта, 204г. &nbsp Телефон: 8 (343) 3448090 &nbsp &copy; ОПТИМА ГРУПП</p>
    </footer>
</body>
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/retina-1.1.0.js"></script>

</html>
