<div class="table">
    <div class="like-table like-table-header">
        <span class="">Наименование оборудования</span>
        <span>Демонтаж для ремонта, руб</span>
        <span>Монтаж после ремонта, руб</span>
        <span>Диагностика оборудования, руб</span>
        <span>Простой ремонт</span>
        <span>Сложный</span>
        <span>Очень сложный</span>
    </div>
    <!--/row-->
    <div class="like-table">
        <span class="like-h3">Ремонт льдогенераторов</span>
    </div>
    <!--/row-->
    <p class="like-table">
                <span class="">
                    Льдогенератор производительностью до 20-ти кг/сут
                </span>
        <span class="">350</span>
        <span class="">650</span>
        <span class="">500</span>
        <span class="">800</span>
        <span class="">1700</span>
        <span class="">3400</span>
    </p>
    <!--/row-->
    <p class="like-table">
        <span class="">Льдогенератор производительностью свыше 20-ти кг/сут</span>
        <span class="">500</span>
        <span class="">1200</span>
        <span class="">500</span>
        <span class="">900</span>
        <span class="">1800</span>
        <span class="">3500</span>
    </p>
    <!--/row-->
    <!-- /льдогенераторы-->
    <!-- камеры -->
    <!--/row-->
    <div class="like-table">
        <span class="p-in-d like-h3" >Холодильные камеры</span></div>
    <p class="like-table">
        <span class="p-in-d">Холодильная камера объем до 3-х м3</span>
        <span class="">2100</span>
        <span class="">1800</span>
        <span class="">300</span>
        <span class="">800</span>
        <span class="">1600</span>
        <span class="">4000</span>
    </p>
    <!--/row-->
    <p class="like-table">
        <span class="p-in-d">Холодильная камера объем от 3-х до 6-и м3</span>
        <span class="">2200</span>
        <span class="">2000</span>
        <span class="">300</span>
        <span class="">850</span>
        <span class="">1650</span>
        <span class="">4100</span>
    </p>
    <!--/row-->
    <p class="like-table">
        <span class=" p-in-d">Холодильная камера объем от 6-и до 9-и м3</span>
        <span class="">2300</span>
        <span class="">3100</span>
        <span class="">300</span>
        <span class="">900</span>
        <span class="">1700</span>
        <span class="">4200</span>
    </p>
    <!--/row-->
    <p class="like-table">
        <span class=" p-in-d">Холодильная камера объем от 9-и до 15-и м3</span>
        <span class="">2350</span>
        <span class="">4000</span>
        <span class="">300</span>
        <span class="">950</span>
        <span class="">1800</span>
        <span class="">4500</span>
    </p>
    <!--/row-->
    <p class="like-table">
        <span class=" p-in-d">Холодильная камера объем свыше 15 м3</span>
        <span class="">3100</span>
        <span class="">5600</span>
        <span class="">300</span>
        <span class="">1000</span>
        <span class="">1900</span>
        <span class="">4700</span>
    </p>
    <!--/row-->
    <p class="like-table">
        <span class="p-in-d">Моноблок среднетемпературный</span>
        <span class="">1250</span>
        <span class="">2350</span>
        <span class="">350</span>
        <span class="">1000</span>
        <span class="">1800</span>
        <span class="">3500</span>
    </p>
    <!--/row-->
    <p class="like-table">
        <span class="p-in-d">Моноблок низкотемпературный</span>
        <span class="">1350</span>
        <span class="">3100</span>
        <span class="">350</span>
        <span class="">1000</span>
        <span class="">1800</span>
        <span class="">3800</span>
    </p>
    <!--/row-->
    <p class="like-table">
        <span class="p-in-d">Сплит система (5 м)</span>
        <span class="">1850</span>
        <span class="">4000</span>
        <span class="">450</span>
        <span class="">1300</span>
        <span class="">2600</span>
        <span class="">5000</span>
    </p>
    <!--/row-->
    <!-- /камеры -->
    <!-- столы прилавки шкафы, лари-->
    <div class="like-table">
        <span class="like-h3">Холодильные столы, прилавки, шкафы</span>
    </div>
    <!--/row-->
    <div class="like-table">
        <p class="p-in-d">Ремонт морозильных ларей</p>
        <div class="">150</div>
        <div class="">250</div>
        <div class="">350</div>
        <div class="">850</div>
        <div class="">1500</div>
        <div class="">3700</div>
    </div>
    <!--/row-->
    <div class="like-table">
        <p class="p-in-d">Прилавок охлаждаемый закрытый </p>
        <div class="">550</div>
        <div class="">1100</div>
        <div class="">350</div>
        <div class="">900</div>
        <div class="">1600</div>
        <div class="">4400</div>
    </div>
    <!--/row-->
    <div class="like-table">
        <div class="p-in-d">Прилавок охлаждаемый открытый</div>
        <div class="">550</div>
        <div class="">1100</div>
        <div class="">350</div>
        <div class="">900</div>
        <div class="">1600</div>
        <div class="">4400</div>
    </div>
    <!--/row-->
    <div class="like-table">
        <div class="p-in-d">Шкаф холодильный до 1,3 м3</div>
        <div class="">300</div>
        <div class="">300</div>
        <div class="">350</div>
        <div class="">600</div>
        <div class="">1000</div>
        <div class="">3200</div>
    </div>
    <!--/row-->
    <div class="like-table">
        <div class="p-in-d">Шкаф холодильный свыше 1,3 м3</div>
        <div class="">300</div>
        <div class="">300</div>
        <div class="">350</div>
        <div class="">700</div>
        <div class="">1100</div>
        <div class="">3300</div>
    </div>
    <!--/row-->
    <div class="like-table">
        <div class="p-in-d">Шкаф морозильный до 1,3 м3</div>
        <div class="">300</div>
        <div class="">300</div>
        <div class="">350</div>
        <div class="">700</div>
        <div class="">1100</div>
        <div class="">3300</div>
    </div>
    <!--/row-->
    <div class="like-table">
        <div class="p-in-d">Шкаф морозильный свыше 1,3 м3</div>
        <div class="">300</div>
        <div class="">300</div>
        <div class="">350</div>
        <div class="">800</div>
        <div class="">1200</div>
        <div class="">3400</div>
    </div>
    <!--/row-->
    <!-- столы прилавки шкафы, лари-->
</div>

{#<p>Примечания</p>#}
{##}
{#<p>В случае, если по результатам выезда и диагностики для клиента работы по ремонту не требуется, отдельно
    оплачивается#}
    {# только выезд специалиста 400 рублей и стоимость диагностики</p>#}
{##}
{#<p>Выезд специалиста по ремонту за пределы города дополнительно оплачивается из расчета 10 руб/км</p>#}
{##}
{#<p>Стоимость работ в прайс-листе указана с учетом НДС 18%.</p>#}
{##}
{#<h2>Обучению ремонту</h2>#}
{##}
{#<p>Мы проводим обучение ремонту и сервисному обслуживанию холодильного оборудования. Первокласcнные специалисты
    делятся#}
    {# своим опытом. Курсы проводятся на территории Уральского Педагогического Университета.</p>#}
{##}
{#<p>Так же вас могут заинтересовать предложения нашего сервисного центра на монтаж/демонтаж и техническое
    обслуживание#}
    {# оборудования</p>#}
{##}
{#<p><a href="../technicheskoe-obsluzhivanie-oborudovaniya"><img src="../assets/img/service.jpg"/> </a></p>#}
{##}
{#<p><a href="../technicheskoe-obsluzhivanie-oborudovaniya">Техническое обслуживание</a></p>#}
{##}
{#<p><a href="../montazh-oborudovaniya"><img src="../assets/img/montazh.jpg"/> </a></p>#}
{##}
{#<p><a href="../montazh-oborudovaniya">Ремонт оборудования</a></p>#}
{##}
{#<p>&nbsp;</p>#}