<table border="0" cellspacing="0" cellpadding="0" twidth="251" class="table table-condensed table-striped">
    <tbody>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    <strong>Наименование</strong>
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    <strong>Цена в руб.</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Термостат
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 3200 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Пускозащитное реле
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 1500 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Блок сигнализации Атлант
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    2000 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Датчик оттайки
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    1500 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Таймер
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    1500 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Мотор вентилятора
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    1700 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Кабель питания (метр)
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    600 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Датчик температуры
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    4000 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Резина уплотнителя
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    5000 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Фильтр для воды
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 5000 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Фреон (100 грам.)
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    500 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Мотор компрессора
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 6500 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Испаритель
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 2000 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Электронный модуль
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 5000 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Конденсатор
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 2000 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Лампа
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    300 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Фильтр осушителя
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    600 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Датчик испарителя
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 1500 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Конденсор
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 1000 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Вентилятор конденсора
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 1500 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Инвертор линейный
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 20000 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Тепловое реле
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 1500 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    ТЭН испарителя
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    1500 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Воздушная заслонка
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    3500 руб
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Клапан электромагнитный
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 2500 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Выключатель света
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    от 1000 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td twidth="169" nowrap="" valign="bottom">
                <p>
                    Лоток
                </p>
            </td>
            <td twidth="81" nowrap="" valign="bottom">
                <p>
                    2000 руб
                </p>
            </td>
        </tr>
    </tbody>
</table>