<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ремонт и обслуживание оборудования в Екатеринбурге | сервисный центр Оптима ГРУПП</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/img/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../assets/css/catslider.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="../assets/js/modernizr.custom.63321.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Переключить навигацию</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo1.png" width="140">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <span class="slogan-span">Надежный партнер - качественные решения!</span>
                <ul class=" nav navbar-nav navbar-right pt5px">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle color-black" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Навигация <span class="caret"></span></a>
                        <ul class="dropdown-menu dm-main">
                            <li>
                                <a href="technicheskoe-obsluzhivanie">Техническое обслуживание</a>
                            </li>
                            <li>
                                <a href="remont">Ремонт оборудования</a>
                            </li>
                            <li>
                                <a href="montazh-oborudovaniya">Монтаж оборудования</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="stellazhi">Стеллажи</a>
                            </li>
                            <li>
                                <a href="torg-mebel">Торговая мебель</a>
                            </li>
                            <li>
                                <a href="telezhki-korzini">Тележки и корзины</a>
                            </li>
                            <li>
                                <a href="kass-boxes">Кассовые боксы</a>
                            </li>
                            <li>
                                <a href="holod-oborudovanie">Холодильное оборудование</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="delivery">Условия доставки</a>
                            </li>
                            <li>
                                <a href="about">Контакты</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="c42" href="#"> <i class="fa fa-phone "></i> 8 (343) 3448090</a>
                    </li>
                    <li>
                        <a class="c42" href="mailto:info@optimapo.ru"> <i class="fa fa-envelope"></i> info@optimapo.ru</a>
                    </li>
                    <li class="active">
                        <a href="#f" class="pt10px">
                            <button class='btn btn-sm btn-primary ' type="button">Заказать звонок</button>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- ********** WHITE SECTION ********** -->
    <div class="container menu-main">
        <div class="mh40px">
            <ol class="breadcrumb  nav-bread ">
                <li>
                    <a href=".">Главная</a>
                </li>
                <li class="active">
                    Ремонт оборудования
                </li>
            </ol>
            <br/>
            <br/>
        </div>
        <div class="row remont-raw raw1">
            <h1>Ремонт холодильного и профессионального оборудования</h1>
            <h2>Сломалось оборудование?</h2>
            <p>Нужен ремонт? Наш сервисный центр предоставляет отличные цены на ремонт оборудования. Отменное качество услуг, ответственные специалисты и гарантии. </p>
            <h2>Мы производим</h2>
            <ul>
                <li>
                    <a href="/remont-holodilnogo-oborudovaniya">
                        <h3>Ремонт холодильного оборудования</h3>
                    </a>
                </li>
                <li>
                    <h3>Ремонт холодильных камер</h3></li>
                <li>
                    <h3>Ремонт холодильных столов, прилавков, шкафов</h3></li>
                <li>
                    <h3>Ремонт тестомесильных машин</h3></li>
                <li>
                    <h3>Ремонт грилей</h3></li>
                <li>
                    <h3>Ремонт жарочных поверхностей</h3></li>
                <li>
                    <h3>Ремонт пароконвектоматов</h3></li>
                <li>
                    <h3>Пищеварочных котлов</h3></li>
                <li>
                    <h3>Электрических плит</h3></li>
                <li>
                    <h3>Мармитов</h3></li>
                <li>
                    <h3>Сковород и фритюрниц</h3></li>
                <li>
                    <h3>Нейтрального оборудования</h3></li>
            </ul>
            <img src="../assets/img/the_shining4.jpg" class="img-responsive img-remont" title=" пример поломки оборудования">
            <h2>Прайс. Наши цены на ремонт. </h2>
            <table cellspacing=0 border=1 class="table price-table">
                <tr>
                    <td>№</td>
                    <td>Наименование оборудования</td>
                    <td>Демонтаж для ремонта, руб</td>
                    <td>Монтаж после ремонта, руб</td>
                    <td>Диагностика оборудования, руб.</td>
                    <td>Ремонт</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Простой ремонт, руб</td>
                    <td>Средний ремонт, руб</td>
                    <td>Сложный ремонт, руб.</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Картофелечистки</td>
                    <td>350</td>
                    <td>750</td>
                    <td>200</td>
                    <td>650</td>
                    <td>1200</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Мясорубки</td>
                    <td>200</td>
                    <td>400</td>
                    <td>200</td>
                    <td>650</td>
                    <td>1200</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>Овощерезки</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Овощерезка настольная (слайсер, пила)</td>
                    <td>100</td>
                    <td>100</td>
                    <td>200</td>
                    <td>600</td>
                    <td>1100</td>
                    <td>1600</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Овощерезка напольная (УКМ)</td>
                    <td>500</td>
                    <td>700</td>
                    <td>250</td>
                    <td>800</td>
                    <td>1300</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>Посудомоечные машины</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Посудомоечная машина конвейерного типа</td>
                    <td>2000</td>
                    <td>4100</td>
                    <td>700</td>
                    <td>1000</td>
                    <td>1700</td>
                    <td>3300</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Модуль дополнительный к посудомоечной машине</td>
                    <td>1000</td>
                    <td>1900</td>
                    <td>700</td>
                    <td>1000</td>
                    <td>1700</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Посудомоечная машина купольного типа</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>700</td>
                    <td>1000</td>
                    <td>1300</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Посудомоечная машина фронтального типа</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>700</td>
                    <td>1000</td>
                    <td>1300</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Стаканомоечная машина</td>
                    <td>300</td>
                    <td>650</td>
                    <td>500</td>
                    <td>900</td>
                    <td>1100</td>
                    <td>1300</td>
                </tr>
                <tr>
                    <td>Тестомесильные машины</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Тестомесильная машина произв до 10 кг/ч</td>
                    <td>300</td>
                    <td>600</td>
                    <td>300</td>
                    <td>1000</td>
                    <td>1900</td>
                    <td>2700</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Тестомесильная машина произв свыше 10 кг/ч</td>
                    <td>350</td>
                    <td>700</td>
                    <td>400</td>
                    <td>1200</td>
                    <td>2200</td>
                    <td>3300</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Тестоделитель, округлитель</td>
                    <td>150</td>
                    <td>250</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1000</td>
                    <td>1700</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Тестораскаточная машина</td>
                    <td>300</td>
                    <td>500</td>
                    <td>300</td>
                    <td>650</td>
                    <td>1300</td>
                    <td>2700</td>
                </tr>
                <tr>
                    <td>Грили</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Гриль роликовый</td>
                    <td>250</td>
                    <td>400</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Гриль для кур</td>
                    <td>250</td>
                    <td>400</td>
                    <td>300</td>
                    <td>650</td>
                    <td>1200</td>
                    <td>2400</td>
                </tr>
                <tr>
                    <td>Жарочные поверхности</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Жарочная поверхность до 1 м2</td>
                    <td>300</td>
                    <td>650</td>
                    <td>350</td>
                    <td>900</td>
                    <td>1450</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Жарочная поверхность от 1 м2</td>
                    <td>350</td>
                    <td>750</td>
                    <td>400</td>
                    <td>1000</td>
                    <td>1900</td>
                    <td>3800</td>
                </tr>
                <tr>
                    <td>Пароконвектомат</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Пароконвектомат с аналоговым управлением</td>
                    <td>900</td>
                    <td>1800</td>
                    <td>500</td>
                    <td>1100</td>
                    <td>1600</td>
                    <td>3700</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Пароконвектомат с электронным управлением</td>
                    <td>950</td>
                    <td>1850</td>
                    <td>700</td>
                    <td>1200</td>
                    <td>2200</td>
                    <td>4200</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Пароконвектомат с аналоговым управлением малый (до 4-х уровней)</td>
                    <td>500</td>
                    <td>1000</td>
                    <td>500</td>
                    <td>1000</td>
                    <td>1900</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Расстоечный шкаф</td>
                    <td>250</td>
                    <td>450</td>
                    <td>300</td>
                    <td>700</td>
                    <td>1300</td>
                    <td>2500</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Расстоечный шкаф проф. (с камерой более 940х610х560)</td>
                    <td>2200</td>
                    <td>6100</td>
                    <td>700</td>
                    <td>1600</td>
                    <td>3100</td>
                    <td>5700</td>
                </tr>
                <tr>
                    <td>Котлы пищеварочные</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Котел пищеварочный объем до 60 литров</td>
                    <td>700</td>
                    <td>1200</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1400</td>
                    <td>2500</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Котел пищеварочный объем свыше 60 литров</td>
                    <td>850</td>
                    <td>1300</td>
                    <td>300</td>
                    <td>800</td>
                    <td>1200</td>
                    <td>2200</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Блинный аппарат автоматический</td>
                    <td>800</td>
                    <td>1500</td>
                    <td>450</td>
                    <td>1050</td>
                    <td>1900</td>
                    <td>3300</td>
                </tr>
                <tr>
                    <td>Мармиты</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>Мармит 1-х блюд стационарный</td>
                    <td>300</td>
                    <td>800</td>
                    <td>300</td>
                    <td>700</td>
                    <td>1300</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Мармит 2-х блюд стационарный воздушный</td>
                    <td>300</td>
                    <td>800</td>
                    <td>300</td>
                    <td>700</td>
                    <td>1300</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Мармит 2-х блюд стационарный водяной</td>
                    <td>350</td>
                    <td>800</td>
                    <td>300</td>
                    <td>800</td>
                    <td>1400</td>
                    <td>2500</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>Мармит настольный 1, 2 блюд</td>
                    <td>150</td>
                    <td>250</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1300</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Мармит передвижной 1, 2 блюд</td>
                    <td>150</td>
                    <td>250</td>
                    <td>300</td>
                    <td>700</td>
                    <td>1200</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>Печи микроволновые</td>
                    <td>150</td>
                    <td>150</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>Шкаф пекарский</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>Шкаф пекарский 2-х и 3-х секционный</td>
                    <td>500</td>
                    <td>1100</td>
                    <td>300</td>
                    <td>800</td>
                    <td>1300</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>Шкаф жарочный 2-х и 3-х секционный</td>
                    <td>500</td>
                    <td>1100</td>
                    <td>300</td>
                    <td>800</td>
                    <td>1300</td>
                    <td>2800</td>
                </tr>
                <tr>
                    <td>34</td>
                    <td>Шкаф пекарский проф. (с камерой более 880х700х510)</td>
                    <td>7000</td>
                    <td>15000</td>
                    <td>400</td>
                    <td>2100</td>
                    <td>4100</td>
                    <td>8300</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>Печь для пиццы</td>
                    <td>600</td>
                    <td>900</td>
                    <td>350</td>
                    <td>800</td>
                    <td>1300</td>
                    <td>3100</td>
                </tr>
                <tr>
                    <td>Плиты электрические </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>36</td>
                    <td>Плита 2-х конф. без духовки</td>
                    <td>300</td>
                    <td>600</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>Плита 2-х конф. с духовкой</td>
                    <td>300</td>
                    <td>600</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>Плита 4-х конф. без духовки</td>
                    <td>400</td>
                    <td>750</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>Плита 4-х конф. с духовкой</td>
                    <td>400</td>
                    <td>750</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>Плита электрическая бытовая </td>
                    <td>200</td>
                    <td>300</td>
                    <td>300</td>
                    <td>550</td>
                    <td>1000</td>
                    <td>1900</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>Плита электрическая настольная</td>
                    <td>200</td>
                    <td>300</td>
                    <td>300</td>
                    <td>550</td>
                    <td>1000</td>
                    <td>1900</td>
                </tr>
                <tr>
                    <td>42</td>
                    <td>Плита 6-и конф. без духовки</td>
                    <td>350</td>
                    <td>900</td>
                    <td>300</td>
                    <td>550</td>
                    <td>1100</td>
                    <td>2200</td>
                </tr>
                <tr>
                    <td>43</td>
                    <td>Плита 6-и конф. с духовкой</td>
                    <td>350</td>
                    <td>900</td>
                    <td>300</td>
                    <td>550</td>
                    <td>1100</td>
                    <td>2200</td>
                </tr>
                <tr>
                    <td>Сковороды</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>44</td>
                    <td>Сковорода с рабочей поверхностью до 1 м2</td>
                    <td>350</td>
                    <td>900</td>
                    <td>300</td>
                    <td>600</td>
                    <td>1200</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>Сковорода с рабочей поверхностью свыше 1 м2</td>
                    <td>400</td>
                    <td>900</td>
                    <td>300</td>
                    <td>700</td>
                    <td>1300</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>Прессы</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>46</td>
                    <td>Пресс для пиццы</td>
                    <td>600</td>
                    <td>1250</td>
                    <td>450</td>
                    <td>800</td>
                    <td>1600</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>47</td>
                    <td>Пресс для набивки колбас</td>
                    <td>200</td>
                    <td>500</td>
                    <td>300</td>
                    <td>700</td>
                    <td>1200</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>Фритюрницы</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>48</td>
                    <td>Фритюрница объем до 4 литров (кофе по-восточному)</td>
                    <td>150</td>
                    <td>250</td>
                    <td>300</td>
                    <td>700</td>
                    <td>1200</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>49</td>
                    <td>Фритюрница объем свыше 4 литров</td>
                    <td>250</td>
                    <td>450</td>
                    <td>300</td>
                    <td>1300</td>
                    <td>2300</td>
                    <td>4300</td>
                </tr>
                <tr>
                    <td>Электроводонагреватели</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>Электрокипятильник производительностью до 50-ти л/час</td>
                    <td>350</td>
                    <td>700</td>
                    <td>300</td>
                    <td>800</td>
                    <td>1600</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>51</td>
                    <td>Электрокипятильник производительностью свыше 50-ти л/час</td>
                    <td>400</td>
                    <td>750</td>
                    <td>400</td>
                    <td>900</td>
                    <td>1700</td>
                    <td>3300</td>
                </tr>
                <!-- льдоогнераторы-->
                <tr>
                    <td>
                        <h3>Льдогенераторы</h3></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>52</td>
                    <td>Льдогенератор производительностью до 20-ти кг/сут</td>
                    <td>350</td>
                    <td>650</td>
                    <td>500</td>
                    <td>800</td>
                    <td>1700</td>
                    <td>3400</td>
                </tr>
                <tr>
                    <td>53</td>
                    <td>Льдогенератор производительностью свыше 20-ти кг/сут</td>
                    <td>500</td>
                    <td>1200</td>
                    <td>500</td>
                    <td>900</td>
                    <td>1800</td>
                    <td>3500</td>
                </tr>
                <!-- /льдогенераторы-->
                <!-- камеры -->
                <tr>
                    <td>
                        <h3>Холодильные камеры</h3></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>54</td>
                    <td>Холодильная камера объем до 3-х м3</td>
                    <td>2100</td>
                    <td>1800</td>
                    <td>300</td>
                    <td>800</td>
                    <td>1600</td>
                    <td>4000</td>
                </tr>
                <tr>
                    <td>55</td>
                    <td>Холодильная камера объем от 3-х до 6-и м3</td>
                    <td>2200</td>
                    <td>2000</td>
                    <td>300</td>
                    <td>850</td>
                    <td>1650</td>
                    <td>4100</td>
                </tr>
                <tr>
                    <td>56</td>
                    <td>Холодильная камера объем от 6-и до 9-и м3</td>
                    <td>2300</td>
                    <td>3100</td>
                    <td>300</td>
                    <td>900</td>
                    <td>1700</td>
                    <td>4200</td>
                </tr>
                <tr>
                    <td>57</td>
                    <td>Холодильная камера объем от 9-и до 15-и м3</td>
                    <td>2350</td>
                    <td>4000</td>
                    <td>300</td>
                    <td>950</td>
                    <td>1800</td>
                    <td>4500</td>
                </tr>
                <tr>
                    <td>58</td>
                    <td>Холодильная камера объем свыше 15 м3</td>
                    <td>3100</td>
                    <td>5600</td>
                    <td>300</td>
                    <td>1000</td>
                    <td>1900</td>
                    <td>4700</td>
                </tr>
                <tr>
                    <td>59</td>
                    <td>Моноблок среднетемпературный</td>
                    <td>1250</td>
                    <td>2350</td>
                    <td>350</td>
                    <td>1000</td>
                    <td>1800</td>
                    <td>3500</td>
                </tr>
                <tr>
                    <td>60</td>
                    <td>Моноблок низкотемпературный</td>
                    <td>1350</td>
                    <td>3100</td>
                    <td>350</td>
                    <td>1000</td>
                    <td>1800</td>
                    <td>3800</td>
                </tr>
                <tr>
                    <td>61</td>
                    <td>Сплит система (5 м)</td>
                    <td>1850</td>
                    <td>4000</td>
                    <td>450</td>
                    <td>1300</td>
                    <td>2600</td>
                    <td>5000</td>
                </tr>
                <!-- /камеры -->
                <!-- столы прилавки шкафы, лари-->
                <tr>
                    <td>
                        <h3>Холодильные столы, прилавки, шкафы</h3></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>62</td>
                    <td>Морозильный ларь</td>
                    <td>150</td>
                    <td>250</td>
                    <td>350</td>
                    <td>850</td>
                    <td>1500</td>
                    <td>3700</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>Прилавок охлаждаемый закрытый </td>
                    <td>550</td>
                    <td>1100</td>
                    <td>350</td>
                    <td>900</td>
                    <td>1600</td>
                    <td>4400</td>
                </tr>
                <tr>
                    <td>64</td>
                    <td>Прилавок охлаждаемый открытый </td>
                    <td>550</td>
                    <td>1100</td>
                    <td>350</td>
                    <td>900</td>
                    <td>1600</td>
                    <td>4400</td>
                </tr>
                <tr>
                    <td>65</td>
                    <td>Шкаф холодильный до 1,3 м3</td>
                    <td>300</td>
                    <td>300</td>
                    <td>350</td>
                    <td>600</td>
                    <td>1000</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>66</td>
                    <td>Шкаф холодильный свыше 1,3 м3</td>
                    <td>300</td>
                    <td>300</td>
                    <td>350</td>
                    <td>700</td>
                    <td>1100</td>
                    <td>3300</td>
                </tr>
                <tr>
                    <td>67</td>
                    <td>Шкаф морозильный до 1,3 м3</td>
                    <td>300</td>
                    <td>300</td>
                    <td>350</td>
                    <td>700</td>
                    <td>1100</td>
                    <td>3300</td>
                </tr>
                <tr>
                    <td>68</td>
                    <td>Шкаф морозильный свыше 1,3 м3</td>
                    <td>300</td>
                    <td>300</td>
                    <td>350</td>
                    <td>800</td>
                    <td>1200</td>
                    <td>3400</td>
                </tr>
                <tr>
                    <td>Нейтральное оборудование</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- столы прилавки шкафы, лари-->
                <tr>
                    <td>69</td>
                    <td>Стол производственный</td>
                    <td>100</td>
                    <td>200</td>
                    <td>200</td>
                    <td>-</td>
                    <td>600</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>Стеллаж</td>
                    <td>150</td>
                    <td>250</td>
                    <td>200</td>
                    <td>-</td>
                    <td>600</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>71</td>
                    <td>Кассовая кабина</td>
                    <td>150</td>
                    <td>250</td>
                    <td>200</td>
                    <td>-</td>
                    <td>500</td>
                    <td>750</td>
                </tr>
                <tr>
                    <td>72</td>
                    <td>Ванна моечная 1-о секционная, цельная</td>
                    <td>100</td>
                    <td>200</td>
                    <td>200</td>
                    <td>-</td>
                    <td>500</td>
                    <td>750</td>
                </tr>
                <tr>
                    <td>73</td>
                    <td>Ванна моечная 1-о секционная, сбор-разборная</td>
                    <td>100</td>
                    <td>250</td>
                    <td>200</td>
                    <td>-</td>
                    <td>1100</td>
                    <td>1300</td>
                </tr>
                <tr>
                    <td>74</td>
                    <td>Ванна моечная 2,3-х секционная, цельная</td>
                    <td>100</td>
                    <td>250</td>
                    <td>200</td>
                    <td>-</td>
                    <td>1900</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>Ванна моечная 2, 3-х секционная, сбор-разборная</td>
                    <td>100</td>
                    <td>250</td>
                    <td>200</td>
                    <td>-</td>
                    <td>2000</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>76</td>
                    <td>Рукомойник</td>
                    <td>200</td>
                    <td>300</td>
                    <td>200</td>
                    <td>-</td>
                    <td>400</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>77</td>
                    <td>Полка</td>
                    <td>200</td>
                    <td>200</td>
                    <td>200</td>
                    <td>-</td>
                    <td>400</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>78</td>
                    <td>Зонт вытяжной МВО</td>
                    <td>200</td>
                    <td>400</td>
                    <td>200</td>
                    <td>-</td>
                    <td>400</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>79</td>
                    <td>Нейтральный прилавок</td>
                    <td>200</td>
                    <td>400</td>
                    <td>200</td>
                    <td>-</td>
                    <td>400</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>80</td>
                    <td>Шкаф универсальный</td>
                    <td>200</td>
                    <td>400</td>
                    <td>200</td>
                    <td>-</td>
                    <td>1500</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>81</td>
                    <td>Кофемолка</td>
                    <td>100</td>
                    <td>200</td>
                    <td>350</td>
                    <td>900</td>
                    <td>1600</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>Кофемашины</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>82</td>
                    <td>Кофемашина до 2-х групп</td>
                    <td>500</td>
                    <td>1200</td>
                    <td>350</td>
                    <td>1000</td>
                    <td>1600</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>83</td>
                    <td>Кофемашина более 2-х групп</td>
                    <td>600</td>
                    <td>1400</td>
                    <td>400</td>
                    <td>1200</td>
                    <td>2100</td>
                    <td>4300</td>
                </tr>
                <tr>
                    <td>84</td>
                    <td>Кофемашина настольная полуавтомат</td>
                    <td>300</td>
                    <td>600</td>
                    <td>250</td>
                    <td>1100</td>
                    <td>2150</td>
                    <td>4400</td>
                </tr>
                <tr>
                    <td>85</td>
                    <td>Смягчители воды, дозатор</td>
                    <td>150</td>
                    <td>300</td>
                    <td>200</td>
                    <td>700</td>
                    <td>1200</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>Весы</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>86</td>
                    <td>Весы настольные</td>
                    <td>100</td>
                    <td>200</td>
                    <td>350</td>
                    <td>850</td>
                    <td>1650</td>
                    <td>3100</td>
                </tr>
                <tr>
                    <td>87</td>
                    <td>Весы напольные</td>
                    <td>150</td>
                    <td>200</td>
                    <td>350</td>
                    <td>900</td>
                    <td>1750</td>
                    <td>3400</td>
                </tr>
                <tr>
                    <td>88</td>
                    <td>Вакуумная упаковочная машина</td>
                    <td>250</td>
                    <td>450</td>
                    <td>400</td>
                    <td>1100</td>
                    <td>1950</td>
                    <td>3700</td>
                </tr>
                <tr>
                    <td>Машины взбивальные</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>89</td>
                    <td>Машина взбивальная производительностью до 5-ти кг/час (соковыжималка, миксер, блендер)</td>
                    <td>200</td>
                    <td>250</td>
                    <td>300</td>
                    <td>1050</td>
                    <td>1650</td>
                    <td>3300</td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>Машина взбивальная производительностью от 5-ти до 15-ти кг/час</td>
                    <td>350</td>
                    <td>450</td>
                    <td>300</td>
                    <td>1200</td>
                    <td>1850</td>
                    <td>3400</td>
                </tr>
                <tr>
                    <td>91</td>
                    <td>Машина взбивальная производительностью свыше 15-ти кг/час</td>
                    <td>400</td>
                    <td>1300</td>
                    <td>350</td>
                    <td>1250</td>
                    <td>1900</td>
                    <td>3700</td>
                </tr>
                <tr>
                    <td>Транспортеры</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>92</td>
                    <td>Транспортер длин до 6 метров</td>
                    <td>1000</td>
                    <td>1500</td>
                    <td>450</td>
                    <td>1200</td>
                    <td>2200</td>
                    <td>4200</td>
                </tr>
                <tr>
                    <td>93</td>
                    <td>Транспортер длин свыше 6 метров</td>
                    <td>1100</td>
                    <td>1900</td>
                    <td>500</td>
                    <td>1200</td>
                    <td>2300</td>
                    <td>4400</td>
                </tr>
                <tr>
                    <td>94</td>
                    <td>Хлеборезка настольная</td>
                    <td>300</td>
                    <td>650</td>
                    <td>350</td>
                    <td>750</td>
                    <td>1500</td>
                    <td>3100</td>
                </tr>
                <tr>
                    <td>Прачечное оборудование</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>95</td>
                    <td>Стиральная машина до 5 кг бытовая</td>
                    <td>400</td>
                    <td>850</td>
                    <td>350</td>
                    <td>850</td>
                    <td>1500</td>
                    <td>2700</td>
                </tr>
                <tr>
                    <td>96</td>
                    <td>Стиральная машина свыше 5 кг бытовая</td>
                    <td>450</td>
                    <td>1500</td>
                    <td>400</td>
                    <td>1000</td>
                    <td>1850</td>
                    <td>3400</td>
                </tr>
                <tr>
                    <td>97</td>
                    <td>Стиральная машина свыше 7 кг промышленная</td>
                    <td>2350</td>
                    <td>5000</td>
                    <td>450</td>
                    <td>1200</td>
                    <td>2000</td>
                    <td>3750</td>
                </tr>
                <tr>
                    <td>98</td>
                    <td>Каток гладильный до 15 кг</td>
                    <td>1000</td>
                    <td>2350</td>
                    <td>350</td>
                    <td>1000</td>
                    <td>1500</td>
                    <td>3200</td>
                </tr>
                <tr>
                    <td>99</td>
                    <td>Каток гладильный свыше 15 кг</td>
                    <td>1100</td>
                    <td>2250</td>
                    <td>350</td>
                    <td>1100</td>
                    <td>1600</td>
                    <td>3300</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Сушильная машина </td>
                    <td>2200</td>
                    <td>4600</td>
                    <td>400</td>
                    <td>1150</td>
                    <td>1800</td>
                    <td>3500</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Центрифуга</td>
                    <td>1650</td>
                    <td>3300</td>
                    <td>450</td>
                    <td>1150</td>
                    <td>1800</td>
                    <td>3600</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Примечания:</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>В случае, если по результатам выезда и диагностики для клиента ремонт оборудования становится нецелесообразным, отдельно оплачивается только выезд специалиста 400 рублей и стоимость диагностики</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Выезд специалиста по ремонту за пределы города дополнительно оплачивается из расчета 10 руб/км</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Стоимость работ на ремонт оборудования в прайс-листе указана с учетом НДС 18%.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <!--table!-->
        </div>
        <!--/row -->
    </div>
    <!--/container -->
    <!-- ********** HEADER SECTION ********** -->
    <div class="greyback" style="">
        <div class="row ">
            <div class="col-md-6 col-md-offset-3  centered">
                <h2>Оставьте заявку на сервисное обслуживание</h2>
                <div class="col-md-10 col-md-offset-1  ">
                    <form role="form" action="send-form" method="post" enctype="plain">
                        <input type="name" name="name" class="subscribe-input" placeholder="Имя" required>
                        <input type="phone" name="phone" class="subscribe-input" placeholder="Телефон" required>
                        <input title="Комментарий" name="text" style="display:none" class="subscribe-input" placeholder="Комментарий" value="без коммента">
                        <br/>
                        <button class='btn btn-md btn-primary subscribe-submit' type="submit">Заказать</button>
                    </form>
                </div>
            </div>
        </div>
        <!--/row -->
    </div>
    <!-- /.container -->
    <div>
    </div>
    <!--/greyback -->
    <!--/container -->
    <!--/container -->
    <!-- ********** PHONE USER SECTION ********** -->
    <!-- ********** FOOTER SECTION ********** -->
    <div class="container">
        <h2>Почему стоит обратиться именно к нам? </h2>
        <p class="text-p align-left"><b>Группа компаний «Оптима Групп»</b> более 5 лет работает на рынке холодильного оборудования по всей территории УрФО. Ремонт и обслуживание холодильного оборудования - одно из наших ключевых направлений. Наши специалисты лучшие в своем деле. Многолетний опыт ремонта и обслуживания оборудования позволяют нам предоставлять самые высококачественные услуги. Заключая с нами договор вы снимаете с себя еще одну головную боль и можете эффективно развивать бизнес. Мы даем гарантию на ремонт и другие услуги.
        </p>
        <p class="text-p centered mt">Наш адрес: г. Екатеринбург,ул. 8 марта, 204г. &nbsp Телефон: 8 (343) 3448090 &nbsp &copy; ОПТИМА ГРУПП</p>
        <br/>
    </div>
    <!--/footer -->
    {% if success %}
    <div class="modal" id="success-modal" role="dialog" data-show="true" style="display:block">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="$('.modal').hide()">&times;</button>
                    <h4 class="modal-title">Заявка отправлена</h4>
                </div>
                <div class="modal-body">
                    <p>{{ name }}, мы получили вашу заявку и свяжемся с вами в ближайшее время!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.modal').hide()">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/retina-1.1.0.js"></script>
</body>

</html>
