<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Монтаж оборудования в Екатеринбурге ">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">
    <title>Монтаж оборудования в Екатеринбурге | Оптима ГРУПП</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/catslider.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="assets/js/modernizr.custom.63321.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="  navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Переключить навигацию</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="assets/img/logo1.png" width="140"></a>
            </div>
            <div class="collapse navbar-collapse">
                <span class="slogan-span">Надежный партнер - качественные решения!</span>
                <ul class=" nav navbar-nav navbar-right pt5px">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle color-black" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Навигация <span class="caret"></span></a>
                        <ul class="dropdown-menu dm-main">
                            <li>
                                <a href="technicheskoe-obsluzhivanie">Техническое обслуживание</a>
                            </li>
                            <li>
                                <a href="remont">Ремонт оборудования</a>
                            </li>
                            <li>
                                <a href="montazh-oborudovaniya">Монтаж оборудования</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="stellazhi">Стеллажи</a>
                            </li>
                            <li>
                                <a href="torg-mebel">Торговая мебель</a>
                            </li>
                            <li>
                                <a href="telezhki-korzini">Тележки и корзины</a>
                            </li>
                            <li>
                                <a href="kass-boxes">Кассовые боксы</a>
                            </li>
                            <li>
                                <a href="holod-oborudovanie">Холодильное оборудование</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="delivery">Условия доставки</a>
                            </li>
                            <li>
                                <a href="about">Контакты</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="c42" href="#"> <i class="fa fa-phone "></i> 8 (343) 3448090</a>
                    </li>
                    <li>
                        <a class="c42" href="mailto:info@optimapo.ru"> <i class="fa fa-envelope"></i> info@optimapo.ru</a>
                    </li>
                    <li class="active">
                        <a href="#f" class="pt10px">
                            <button class='btn btn-sm btn-primary ' type="button">Заказать звонок</button>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- ********** WHITE SECTION ********** -->
    <div class="container menu-main">
        <div class="mh40px">
            <ol class="breadcrumb  nav-bread ">
                <li>
                    <a href=".">Главная</a>
                </li>
                <li class="active">
                    Монтаж оборудования
                </li>
            </ol>
            <br/>
            <br/>
        </div>
        <div class="row remont-raw raw1">
            <h1>Монтаж оборудования в Екатеринбурге</h1>
            <h2>Где заказать монтаж технического оборудования?</h2>
            <p>Закажите монтаж и демонтаж оборудования у профессионалов с многолетним опытом работы.</p>
            <h2>Прайс. Цены на монтаж и демонтаж технического оборудования</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="tableizer-firstrow">
                        <th>Наименование</th>
                        <th>Стоимость монтажа с учетом НДС 18 %, руб</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Картофелечистки</td>
                        <td>2 100</td>
                    </tr>
                    <tr>
                        <td>Мясорубки</td>
                        <td>1,200</td>
                    </tr>
                    <tr>
                        <td>Овощерезки</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Овощерезка настольная (слайсер, пила)</td>
                        <td>350</td>
                    </tr>
                    <tr>
                        <td>Овощерезка настольная (380В)</td>
                        <td>1700</td>
                    </tr>
                    <tr>
                        <td>Овощерезка напольная (УКМ)</td>
                        <td>2,050</td>
                    </tr>
                    <tr>
                        <td>Посудомоечные машины</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Посудомоечная машина конвейерного типа</td>
                        <td>13,000</td>
                    </tr>
                    <tr>
                        <td>Модуль дополнительный к посудомоечной машине</td>
                        <td>5,100</td>
                    </tr>
                    <tr>
                        <td>Посудомоечная машина купольного типа</td>
                        <td>2,500</td>
                    </tr>
                    <tr>
                        <td>Посудомоечная машина фронтального типа</td>
                        <td>2,500</td>
                    </tr>
                    <tr>
                        <td>Стаканомоечная машина</td>
                        <td>2,100</td>
                    </tr>
                    <tr>
                        <td>Тестомесильные машины</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Тестомесильная машина произв до 10 кг/ч</td>
                        <td>2,400</td>
                    </tr>
                    <tr>
                        <td>Тестомесильная машина произв свыше 10 кг/ч</td>
                        <td>2,800</td>
                    </tr>
                    <tr>
                        <td>Тестоделитель, округлитель</td>
                        <td>2,400</td>
                    </tr>
                    <tr>
                        <td>Тестораскаточная машина</td>
                        <td>2,400</td>
                    </tr>
                    <tr>
                        <td>Грили</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Гриль роликовый 380В</td>
                        <td>1,300</td>
                    </tr>
                    <tr>
                        <td>Гриль для кур 380В</td>
                        <td>1,500</td>
                    </tr>
                    <tr>
                        <td>Жарочные поверхности</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Жарочная поверхность до 1 м2</td>
                        <td>1,500</td>
                    </tr>
                    <tr>
                        <td>Жарочная поверхность от 1 м2</td>
                        <td>2,000</td>
                    </tr>
                    <tr>
                        <td>Пароконвектомат</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Печь конвекционная без подключения к воде</td>
                        <td>2,000</td>
                    </tr>
                    <tr>
                        <td>Печь конвекционная с подключением к воде</td>
                        <td>4,400</td>
                    </tr>
                    <tr>
                        <td>Пароконвектомат (от 6-ти уровней)</td>
                        <td>5,500</td>
                    </tr>
                    <tr>
                        <td>Пароконвектомат малый (до 4-х уровней)</td>
                        <td>4,400</td>
                    </tr>
                    <tr>
                        <td>Расстоечный шкаф</td>
                        <td>1,300</td>
                    </tr>
                    <tr>
                        <td>Расстоечный шкаф проф. (с камерой более 940х610х560)</td>
                        <td>11,000</td>
                    </tr>
                    <tr>
                        <td>Котлы пищеварочные</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Котел пищеварочный объем до 60 литров</td>
                        <td>2,300</td>
                    </tr>
                    <tr>
                        <td>Котел пищеварочный объем свыше 60 литров</td>
                        <td>2,800</td>
                    </tr>
                    <tr>
                        <td>Блинный аппарат автоматический</td>
                        <td>4,400</td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Мармиты</h3></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Мармит </td>
                        <td>1,400</td>
                    </tr>
                    <tr>
                        <td>Линия раздачи отечественная (один элемент)</td>
                        <td>1,400</td>
                    </tr>
                    <tr>
                        <td>Линия раздачи импорт (ZANUSSI, Emainox) один элемент</td>
                        <td>1,800</td>
                    </tr>
                    <tr>
                        <td>Мармит настольный 1, 2 блюд</td>
                        <td>650</td>
                    </tr>
                    <tr>
                        <td>Мармит передвижной 1, 2 блюд</td>
                        <td>650</td>
                    </tr>
                    <tr>
                        <td>Печи микроволновые</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Шкаф пекарский</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Шкаф пекарский 2-х и 3-х секционный</td>
                        <td>2,000</td>
                    </tr>
                    <tr>
                        <td>Шкаф жарочный 2-х и 3-х секционный</td>
                        <td>2,000</td>
                    </tr>
                    <tr>
                        <td>Шкаф пекарский проф. (с камерой более 880х700х510)</td>
                        <td>38,500</td>
                    </tr>
                    <tr>
                        <td>Печь для пиццы</td>
                        <td>2,300</td>
                    </tr>
                    <tr>
                        <th>Плиты</th>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Плита электрическая</td>
                        <td>1,500</td>
                    </tr>
                    <tr>
                        <td>Плита газовая</td>
                        <td>1,700</td>
                    </tr>
                    <tr>
                        <td>Плита электрическая настольная</td>
                        <td>1,000</td>
                    </tr>
                    <tr>
                        <td>Пилы</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Пила ленточная (220В)</td>
                        <td>350</td>
                    </tr>
                    <tr>
                        <td>Пила ленточная (380В)</td>
                        <td>1,800</td>
                    </tr>
                    <tr>
                        <td>Стерилизатор ножей</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>Овоскоп</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>Мукопросеиватель (380В)</td>
                        <td>1,300</td>
                    </tr>
                    <tr>
                        <td>Сковороды</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Сковорода с рабочей поверхностью до 1 м2</td>
                        <td>1,400</td>
                    </tr>
                    <tr>
                        <td>Сковорода с рабочей поверхностью свыше 1 м2</td>
                        <td>1,500</td>
                    </tr>
                    <tr>
                        <td>Прессы</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Пресс для пиццы</td>
                        <td>2,500</td>
                    </tr>
                    <tr>
                        <td>Пресс для набивки колбас</td>
                        <td>1,300</td>
                    </tr>
                    <tr>
                        <td>Фритюрницы</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Фритюрница 220В</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Фритюрница 380В</td>
                        <td>1100</td>
                    </tr>
                    <tr>
                        <td>Электроводонагреватели</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Электрокипятильник/водонагреватель (с подключением к воде)</td>
                        <td>2,500</td>
                    </tr>
                    <tr>
                        <td>Электрокипятильник (ручной залив)</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>Льдогенераторы</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Льдогенератор производительностью до 20-ти кг/сут</td>
                        <td>2,000</td>
                    </tr>
                    <tr>
                        <td>Льдогенератор производительностью свыше 20-ти кг/сут</td>
                        <td>2,800</td>
                    </tr>
                    <tr>
                        <td>Холодильные камеры</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Холодильная камера объем до 3-х м3</td>
                        <td>4,500</td>
                    </tr>
                    <tr>
                        <td>Холодильная камера объем от 3-х до 6-и м3</td>
                        <td>5,800</td>
                    </tr>
                    <tr>
                        <td>Холодильная камера объем от 6-и до 9-и м3</td>
                        <td>7,200</td>
                    </tr>
                    <tr>
                        <td>Холодильная камера объем от 9-и до 15-и м3</td>
                        <td>8,500</td>
                    </tr>
                    <tr>
                        <td>Холодильная камера объем свыше 15 м3</td>
                        <td>550 руб/куб.м</td>
                    </tr>
                    <tr>
                        <td>Моноблок среднетемпературный</td>
                        <td>5,400</td>
                    </tr>
                    <tr>
                        <td>Моноблок низкотемпературный</td>
                        <td>5,700</td>
                    </tr>
                    <tr>
                        <td>Сплит система (5 м)</td>
                        <td>13,000</td>
                    </tr>
                    <tr>
                        <td>Холодильные столы, прилавки, шкафы</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Морозильный ларь</td>
                        <td>650</td>
                    </tr>
                    <tr>
                        <td>Витрина/Прилавок охлаждаемый </td>
                        <td>1,500</td>
                    </tr>
                    <tr>
                        <td>Витрина/Прилавок охлаждаемый в линию </td>
                        <td>1,800</td>
                    </tr>
                    <tr>
                        <td>Шкаф холодильный/морозильный</td>
                        <td>750</td>
                    </tr>
                    <tr>
                        <td>Шкаф шоковой заморозки 380В</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>Шкаф холодильный (перевешивание двери)</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Стол охлаждаемый</td>
                        <td>900</td>
                    </tr>
                    <tr>
                        <td>Нейтральное оборудование</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Стол производственный</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>Стол обеденный</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Стеллаж</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td>Стул (разобранный)</td>
                        <td>170</td>
                    </tr>
                    <tr>
                        <td>Подтоварник</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Стул/стол/шкаф/подтоварник (распаковка)</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Подставка</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Тележка</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>Кассовая кабина</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>Ванна моечная 1-о секционная, цельная</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>Ванна моечная 1-о секционная, сбор-разборная</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>Ванна моечная 2,3-х секционная, цельная</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>Ванна моечная 2, 3-х секционная, сбор-разборная</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>Рукомойник</td>
                        <td>750</td>
                    </tr>
                    <tr>
                        <td>Полка</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>Облучатель бактерицидный</td>
                        <td>750</td>
                    </tr>
                    <tr>
                        <td>Зонт вытяжной МВО</td>
                        <td>2,100</td>
                    </tr>
                    <tr>
                        <td>Нейтральный прилавок</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>Электросушитель, диспенсеры для бумаги, освежителей и т.п.</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>Шкаф универсальный</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>Кофемолка</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Кофемашины</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Кофемашина до 2-х групп</td>
                        <td>2,300</td>
                    </tr>
                    <tr>
                        <td>Кофемашина более 2-х групп</td>
                        <td>2,800</td>
                    </tr>
                    <tr>
                        <td>Кофемашина настольная полуавтомат</td>
                        <td>2,000</td>
                    </tr>
                    <tr>
                        <td>Смягчители воды, дозатор</td>
                        <td>650</td>
                    </tr>
                    <tr>
                        <td>Весы</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Весы настольные</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Весы напольные</td>
                        <td>350</td>
                    </tr>
                    <tr>
                        <td>Вакуумная упаковочная машина</td>
                        <td>1,200</td>
                    </tr>
                    <tr>
                        <td>Машины взбивальные</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Машина взбивальная производительностью до 5-ти кг/час (соковыжималка, миксер, блендер)</td>
                        <td>750</td>
                    </tr>
                    <tr>
                        <td>Машина взбивальная производительностью от 5-ти до 15-ти кг/час</td>
                        <td>1,600</td>
                    </tr>
                    <tr>
                        <td>Машина взбивальная производительностью свыше 15-ти кг/час</td>
                        <td>2,000</td>
                    </tr>
                    <tr>
                        <td>Транспортеры</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Транспортер длин до 6 метров</td>
                        <td>5,100</td>
                    </tr>
                    <tr>
                        <td>Транспортер длин свыше 6 метров</td>
                        <td>6,500</td>
                    </tr>
                    <tr>
                        <td>Хлеборезка настольная</td>
                        <td>1,600</td>
                    </tr>
                    <tr>
                        <td>Прачечное оборудование</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Стиральная машина до 5 кг бытовая</td>
                        <td>2,000</td>
                    </tr>
                    <tr>
                        <td>Стиральная машина свыше 5 кг бытовая</td>
                        <td>3,800</td>
                    </tr>
                    <tr>
                        <td>Стиральная машина свыше 7 кг промышленная</td>
                        <td>13,500</td>
                    </tr>
                    <tr>
                        <td>Каток гладильный до 15 кг</td>
                        <td>5,400</td>
                    </tr>
                    <tr>
                        <td>Каток гладильный свыше 15 кг</td>
                        <td>6,000</td>
                    </tr>
                    <tr>
                        <td>Сушильная машина </td>
                        <td>12,100</td>
                    </tr>
                    <tr>
                        <td>Центрифуга</td>
                        <td>8,100</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <h3>Коэффициенты расчета</h3>
            <table class="table table-striped table-bordered">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Монтаж до 3 ед. однотипного оборудования</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Монтаж от 4 ед. до 6-ти ед. однотипного оборудования</td>
                        <td>0.95</td>
                    </tr>
                    <tr>
                        <td>Монтаж от 7 ед. однотипного оборудования</td>
                        <td>0.9</td>
                    </tr>
                    <tr>
                        <td>При количестве оборудования по проекту более 25 ед. </td>
                        <td>0.9</td>
                    </tr>
                    <tr>
                        <td>Монтаж с обдиркой монтажной пленки</td>
                        <td>1.2</td>
                    </tr>
                </tbody>
            </table>
            <!--table!-->
        </div>
        <!--/row -->
    </div>
    <!--/container -->
    <!-- ********** HEADER SECTION ********** -->
    <div class="greyback" style="">
        <div class="row ">
            <div class="col-md-6 col-md-offset-3  centered">
                <h2>Оставьте заявку и мы свяжемся с вами в ближайшее время</h2>
                <div class="col-md-10 col-md-offset-1  ">
                    <form role="form" action="send-form" method="post" enctype="plain">
                        <input type="name" name="name" class="subscribe-input" placeholder="Имя" required>
                        <input type="phone" name="phone" class="subscribe-input" placeholder="Телефон" required>
                        <input title="Комментарий" name="text" style="display:none" class="subscribe-input" placeholder="Комментарий" value="без коммента">
                        <br/>
                        <button class='btn btn-md btn-primary subscribe-submit' type="submit">Заказать</button>
                    </form>
                </div>
            </div>
        </div>
        <!--/row -->
    </div>
    <!-- /.container -->
    <div>
    </div>
    <!--/greyback -->
    <!--/container -->
    <!--/container -->
    <!-- ********** PHONE USER SECTION ********** -->
    <!-- ********** FOOTER SECTION ********** -->
    <div class="container">
        <p class="text-p centered mt">Наш адрес: г. Екатеринбург,ул. 8 марта, 204г. &nbsp Телефон: 8 (343) 3448090 &nbsp &copy; ОПТИМА ГРУПП</p>
        <br/>
    </div>
    <!--/footer -->
    {% if success %}
    <div class="modal" id="success-modal" role="dialog" data-show="true" style="display:block">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="$('.modal').hide()">&times;</button>
                    <h4 class="modal-title">Заявка отправлена</h4>
                </div>
                <div class="modal-body">
                    <p>{{ name }}, мы получили вашу заявку и свяжемся с вами в ближайшее время!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.modal').hide()">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
</body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function(d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter42278174 = new Ya.Metrika({
                id: 42278174,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true,
                trackHash: true
            });
        } catch (e) {}
    });
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function() {
            n.parentNode.insertBefore(s, n);
        };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/42278174" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</html>
