<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Монтаж оборудования в Екатеринбурге ">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">
    <title>Монтаж оборудования | сервисный центр Оптима ГРУПП</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/catslider.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="assets/js/modernizr.custom.63321.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="  navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Переключить навигацию</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="assets/img/logo1.png" width="140"></a>
            </div>
            <div class="collapse navbar-collapse">
                <span class="slogan-span">Надежный партнер - качественные решения!</span>
                <ul class=" nav navbar-nav navbar-right pt5px">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle color-black" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Навигация <span class="caret"></span></a>
                        <ul class="dropdown-menu dm-main">
                            <li>
                                <a href="technicheskoe-obsluzhivanie-oborudovaniya">Техническое обслуживание</a>
                            </li>
                            <li>
                                <a href="remont-oborudovaniya">Ремонт оборудования</a>
                            </li>
                            <li>
                                <a href="montazh-oborudovaniya">Монтаж оборудования</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="stellazhi">Стеллажи</a>
                            </li>
                            <li>
                                <a href="torg-mebel">Торговая мебель</a>
                            </li>
                            <li>
                                <a href="telezhki-korzini">Тележки и корзины</a>
                            </li>
                            <li>
                                <a href="kass-boxes">Кассовые боксы</a>
                            </li>
                            <li>
                                <a href="holod-oborudovanie">Холодильное оборудование</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="delivery">Условия доставки</a>
                            </li>
                            <li>
                                <a href="about">Контакты</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="c42" href="#"> <i class="fa fa-phone "></i> 8 (343) 3448090</a>
                    </li>
                    <li>
                        <a class="c42" href="mailto:info@optimapo.ru"> <i class="fa fa-envelope"></i> info@optimapo.ru</a>
                    </li>
                    <li class="active">
                        <a href="#f" class="pt10px">
                            <button class='btn btn-sm btn-primary ' type="button">Заказать звонок</button>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- ********** WHITE SECTION ********** -->
    <div class="container menu-main">
        <div class="mh40px">
            <ol class="breadcrumb  nav-bread ">
                <li>
                    <a href=".">Главная</a>
                </li>
                <li class="active">
                    Монтаж оборудования
                </li>
            </ol>
            <br/>
            <br/>
        </div>
        <div class="row remont-raw raw1">
            <h1>Монтаж и демонтаж оборудования</h1>
            <h2>Где заказать монтаж технического оборудования?</h2>
            <p>У профессионалов с огромнейшим опытом.</p>
            <p>Монтаж оборудования надо заказывать у того, кто знает свое дело и сьел на этом собаку.</p>
            <p>Мастера сервисного центра Оптима ГРУПП оперативно реагируют на заявки. Делаем качественно и по выгодным ценам. Заключаем договор и даем гарантии на все виды услуг.</p>
            <p>Осуществляем монтаж торгового и технологического оборудования, торгового и промышленного холодильного оборудования</p>
            <ul class="no-list">
                <li>
                    - Холодильные столы, прилавки, шкафы
                </li>
                <li>
                    - Холодильные камеры
                </li>
                <li>
                    - Витрины и прилавки
                </li>
                <li>
                    - Мармиты
                </li>
                <li>
                    - Плиты
                </li>
                <li>
                    - Пароконвектоматы
                </li>
                <li>
                    - Печи
                </li>
                <li>
                    - Посудомоечные машины и многое другое
                </li>
            </ul>
            <p>Монтаж и установка оборудования важный и ответственный процесс. То, насколько качественно и хорошо выполнены эти работы напрямую влияет на долговечность оборудования, его надежность и бесперебойную работу. Именно поэтому мастера Оптима ГРУПП со всей ответственностью подходят к поставленной задаче. </p>
            <p>При монтаже необходимо учитывать множество параметров, таких как: диаметр кабелей и трубопроводной арматуры, мощность холодильных компрессоров и многие другие. Мы запаслись огромным опытом и знаем, что даже мельчайшие ошибки в вычислениях могут привести к поломке и простою оборудования. Если такое все же случилось – не отчаивайтесь. Наш сервисный центр производит первоклассный <a href=”../remont-oborudovaniya”>ремонт оборудования.</a> Оперативно и качественно. Монтаж холодильного оборудования – одно из главных наших направлений. Помимо монтажа мы предоставляем <a href="../technicheskoe-obsluzhivanie-oborudovaniya"> техническое обслуживание.</a></p>
            <h3>Монтаж оборудования – почему мы?</h3>
            <p>Мы составляем договор и даем гарантии на обслуживание. Физически находимся в Екатеринбурге, но работаем по всей территории Свердловской области. Наши специалисты мастера своего дела. Соблюдают сроки и проводят пуско-наладочные работы на высшем уровне. Очень важно, чтобы режимы работы оборудования соответствовали его расчетным значения, и мы проследим за этим.
            </p>
            <p>Заключив с нами договор, вы с снимете с себя очень большой груз ответственности, доверив дело профессионалам. Удаляете еще одну головную и можете заняться эффективным построением бизнеса. Так же у нас вы можете купить торговое и холодильное оборудование по самым выгодным ценам.
            </p>
            <p> Так же в компании Оптима ГРУПП проводятся курсы по монтажу и техническому обслуживанию торгового и холодильного оборудования. Курсы проводятся на базе Уральского Педагогического Университета. Все подробности расскажем вам по указанным телефонам.
            </p>
            <h2>Прайс. Цены на монтаж и демонтаж технического оборудования</h2>
        </div>
        <div class="table">
            <p class="tableizer-firstrow row p-row">
                <span class="bold col-md-6 table-span">Наименование</span>
                <span class="bold col-md-6 table-span">Стоимость монтажа с учетом НДС 18 %, руб</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Картофелечистки</span>
                <span class="col-md-6 table-span">2 100</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Мясорубки</span>
                <span class="col-md-6 table-span">1,200</span>
            </p>
            <p class="row p-row">
                <span class="bold col-md-6 table-span">Овощерезки</span>
                <span class="col-md-6 table-span"></span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Овощерезка настольная (слайсер, пила)</span>
                <span class="col-md-6 table-span">350</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Овощерезка настольная (380В)</span>
                <span class="col-md-6 table-span">1700</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Овощерезка напольная (УКМ)</span>
                <span class="col-md-6 table-span">2,050</span>
            </p>
            <p class="row p-row">
                <span class="bold col-md-6 table-span">Посудомоечные машины</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Посудомоечная машина конвейерного типа</span>
                <span class="col-md-6 table-span">13,000</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Модуль дополнительный к посудомоечной машине</span>
                <span class="col-md-6 table-span">5,100</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Посудомоечная машина купольного типа</span>
                <span class="col-md-6 table-span">2,500</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Посудомоечная машина фронтального типа</span>
                <span class="col-md-6 table-span">2,500</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Стаканомоечная машина</span>
                <span class="col-md-6 table-span">2,100</span>
            </p>
            <p class="row p-row">
                <span class="bold col-md-6 table-span">Тестомесильные машины</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Тестомесильная машина произв до 10 кг/ч</span>
                <span class="col-md-6 table-span">2,400</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Тестомесильная машина произв свыше 10 кг/ч</span>
                <span class="col-md-6 table-span">2,800</span>
            </p>
            <div class="row p-row">
                <span class="col-md-6 table-span">Тестоделитель, округлитель</span>
                <span class="col-md-6 table-span">2,400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Тестораскаточная машина</span>
                <span class="col-md-6 table-span">2,400</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Грили</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Гриль роликовый 380В</span>
                <span class="col-md-6 table-span">1,300</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Гриль для кур 380В</span>
                <span class="col-md-6 table-span">1,500</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Жарочные поверхности</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Жарочная поверхность до 1 м2</span>
                <span class="col-md-6 table-span">1,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Жарочная поверхность от 1 м2</span>
                <span class="col-md-6 table-span">2,000</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Пароконвектомат</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Печь конвекционная без подключения к воде</span>
                <span class="col-md-6 table-span">2,000</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Печь конвекционная с подключением к воде</span>
                <span class="col-md-6 table-span">4,400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Пароконвектомат (от 6-ти уровней)</span>
                <span class="col-md-6 table-span">5,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Пароконвектомат малый (до 4-х уровней)</span>
                <span class="col-md-6 table-span">4,400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Расстоечный шкаф</span>
                <span class="col-md-6 table-span">1,300</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Расстоечный шкаф проф. (с камерой более 940х610х560)</span>
                <span class="col-md-6 table-span">11,000</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Котлы пищеварочные</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Котел пищеварочный объем до 60 литров</span>
                <span class="col-md-6 table-span">2,300</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Котел пищеварочный объем свыше 60 литров</span>
                <span class="col-md-6 table-span">2,800</span>
            </div>
            <div class="row p-row p-row-last">
                <span class="col-md-6 table-span">Блинный аппарат автоматический</span>
                <span class="col-md-6 table-span">4,400</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Мармиты</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Мармит </span>
                <span class="col-md-6 table-span">1,400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Линия раздачи отечественная (один элемент)</span>
                <span class="col-md-6 table-span">1,400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Линия раздачи импорт (ZANUSSI, Emainox) один элемент</span>
                <span class="col-md-6 table-span">1,800</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Мармит настольный 1, 2 блюд</span>
                <span class="col-md-6 table-span">650</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Мармит передвижной 1, 2 блюд</span>
                <span class="col-md-6 table-span">650</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Печи микроволновые</span>
                <span class="col-md-6 table-span">250</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Шкаф пекарский</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Шкаф пекарский 2-х и 3-х секционный</span>
                <span class="col-md-6 table-span">2,000</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Шкаф жарочный 2-х и 3-х секционный</span>
                <span class="col-md-6 table-span">2,000</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Шкаф пекарский проф. (с камерой более 880х700х510)</span>
                <span class="col-md-6 table-span">38,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Печь для пиццы</span>
                <span class="col-md-6 table-span">2,300</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Плиты</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Плита электрическая</span>
                <span class="col-md-6 table-span">1,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Плита газовая</span>
                <span class="col-md-6 table-span">1,700</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Плита электрическая настольная</span>
                <span class="col-md-6 table-span">1,000</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Пилы</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Пила ленточная (220В)</span>
                <span class="col-md-6 table-span">350</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Пила ленточная (380В)</span>
                <span class="col-md-6 table-span">1,800</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Стерилизатор ножей</span>
                <span class="col-md-6 table-span">700</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Овоскоп</span>
                <span class="col-md-6 table-span">150</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Мукопросеиватель (380В)</span>
                <span class="col-md-6 table-span">1,300</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Сковороды</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Сковорода с рабочей поверхностью до 1 м2</span>
                <span class="col-md-6 table-span">1,400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Сковорода с рабочей поверхностью свыше 1 м2</span>
                <span class="col-md-6 table-span">1,500</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Прессы</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Пресс для пиццы</span>
                <span class="col-md-6 table-span">2,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Пресс для набивки колбас</span>
                <span class="col-md-6 table-span">1,300</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Фритюрницы</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Фритюрница 220В</span>
                <span class="col-md-6 table-span">200</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Фритюрница 380В</span>
                <span class="col-md-6 table-span">1100</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Электроводонагреватели</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Электрокипятильник/водонагреватель (с подключением к воде)</span>
                <span class="col-md-6 table-span">2,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Электрокипятильник (ручной залив)</span>
                <span class="col-md-6 table-span">150</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Льдогенераторы</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Льдогенератор производительностью до 20-ти кг/сут</span>
                <span class="col-md-6 table-span">2,000</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Льдогенератор производительностью свыше 20-ти кг/сут</span>
                <span class="col-md-6 table-span">2,800</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Холодильные камеры</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Холодильная камера объем до 3-х м3</span>
                <span class="col-md-6 table-span">4,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Холодильная камера объем от 3-х до 6-и м3</span>
                <span class="col-md-6 table-span">5,800</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Холодильная камера объем от 6-и до 9-и м3</span>
                <span class="col-md-6 table-span">7,200</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Холодильная камера объем от 9-и до 15-и м3</span>
                <span class="col-md-6 table-span">8,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Холодильная камера объем свыше 15 м3</span>
                <span class="col-md-6 table-span">550 руб/куб.м</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Моноблок среднетемпературный</span>
                <span class="col-md-6 table-span">5,400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Моноблок низкотемпературный</span>
                <span class="col-md-6 table-span">5,700</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Сплит система (5 м)</span>
                <span class="col-md-6 table-span">13,000</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Холодильные столы, прилавки, шкафы</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Морозильный ларь</span>
                <span class="col-md-6 table-span">650</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Витрина/Прилавок охлаждаемый </span>
                <span class="col-md-6 table-span">1,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Витрина/Прилавок охлаждаемый в линию </span>
                <span class="col-md-6 table-span">1,800</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Шкаф холодильный/морозильный</span>
                <span class="col-md-6 table-span">750</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Шкаф шоковой заморозки 380В</span>
                <span class="col-md-6 table-span">1500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Шкаф холодильный (перевешивание двери)</span>
                <span class="col-md-6 table-span">1000</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Стол охлаждаемый</span>
                <span class="col-md-6 table-span">900</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Нейтральное оборудование</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Стол производственный</span>
                <span class="col-md-6 table-span">400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Стол обеденный</span>
                <span class="col-md-6 table-span">300</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Стеллаж</span>
                <span class="col-md-6 table-span">800</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Стул (разобранный)</span>
                <span class="col-md-6 table-span">170</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Подтоварник</span>
                <span class="col-md-6 table-span">250</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Стул/стол/шкаф/подтоварник (распаковка)</span>
                <span class="col-md-6 table-span">100</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Подставка</span>
                <span class="col-md-6 table-span">300</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Тележка</span>
                <span class="col-md-6 table-span">450</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Кассовая кабина</span>
                <span class="col-md-6 table-span">400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Ванна моечная 1-о секционная, цельная</span>
                <span class="col-md-6 table-span">400</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Ванна моечная 1-о секционная, сбор-разборная</span>
                <span class="col-md-6 table-span">450</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Ванна моечная 2,3-х секционная, цельная</span>
                <span class="col-md-6 table-span">450</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Ванна моечная 2, 3-х секционная, сбор-разборная</span>
                <span class="col-md-6 table-span">450</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Рукомойник</span>
                <span class="col-md-6 table-span">750</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Полка</span>
                <span class="col-md-6 table-span">450</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Облучатель бактерицидный</span>
                <span class="col-md-6 table-span">750</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Зонт вытяжной МВО</span>
                <span class="col-md-6 table-span">2,100</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Нейтральный прилавок</span>
                <span class="col-md-6 table-span">700</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Электросушитель, диспенсеры для бумаги, освежителей и т.п.</span>
                <span class="col-md-6 table-span">700</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Шкаф универсальный</span>
                <span class="col-md-6 table-span">700</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Кофемолка</span>
                <span class="col-md-6 table-span">300</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Кофемашины</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Кофемашина до 2-х групп</span>
                <span class="col-md-6 table-span">2,300</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Кофемашина более 2-х групп</span>
                <span class="col-md-6 table-span">2,800</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Кофемашина настольная полуавтомат</span>
                <span class="col-md-6 table-span">2,000</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Смягчители воды, дозатор</span>
                <span class="col-md-6 table-span">650</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Весы</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Весы настольные</span>
                <span class="col-md-6 table-span">250</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Весы напольные</span>
                <span class="col-md-6 table-span">350</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Вакуумная упаковочная машина</span>
                <span class="col-md-6 table-span">1,200</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Машины взбивальные</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Машина взбивальная производительностью до 5-ти кг/час (соковыжималка, миксер, блендер)</span>
                <span class="col-md-6 table-span">750</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Машина взбивальная производительностью от 5-ти до 15-ти кг/час</span>
                <span class="col-md-6 table-span">1,600</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Машина взбивальная производительностью свыше 15-ти кг/час</span>
                <span class="col-md-6 table-span">2,000</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Транспортеры</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Транспортер длин до 6 метров</span>
                <span class="col-md-6 table-span">5,100</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Транспортер длин свыше 6 метров</span>
                <span class="col-md-6 table-span">6,500</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Хлеборезка настольная</span>
                <span class="col-md-6 table-span">1,600</span>
            </div>
            <div class="row p-row">
                <span class="bold col-md-6 table-span">Прачечное оборудование</span>
                <span class="col-md-6 table-span">&nbsp;</span>
            </div>
            <p class="row p-row">
                <span class="col-md-6 table-span">Стиральная машина до 5 кг бытовая</span>
                <span class="col-md-6 table-span">2,000</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Стиральная машина свыше 5 кг бытовая</span>
                <span class="col-md-6 table-span">3,800</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Стиральная машина свыше 7 кг промышленная</span>
                <span class="col-md-6 table-span">13,500</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Каток гладильный до 15 кг</span>
                <span class="col-md-6 table-span">5,400</span>
            </p>
            <p class="row p-row">
                <span class="col-md-6 table-span">Каток гладильный свыше 15 кг</span>
                <span class="col-md-6 table-span">6,000</span>
            </p>
            <div class="row p-row">
                <span class="col-md-6 table-span">Сушильная машина </span>
                <span class="col-md-6 table-span">12,100</span>
            </div>
            <p class="row p-row p-row-last">
                <span class="col-md-6 table-span">Центрифуга</span>
                <span class="col-md-6 table-span">8,100</span>
            </p>
            <h3>Коэффициенты расчета</h3>
            <div class="row p-row">
                <span class="col-md-6 table-span">Монтаж до 3 ед. однотипного оборудования</span>
                <span class="col-md-6 table-span">1</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Монтаж от 4 ед. до 6-ти ед. однотипного оборудования</span>
                <span class="col-md-6 table-span">0.95</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">Монтаж от 7 ед. однотипного оборудования</span>
                <span class="col-md-6 table-span">0.9</span>
            </div>
            <div class="row p-row">
                <span class="col-md-6 table-span">При количестве оборудования по проекту более 25 ед. </span>
                <span class="col-md-6 table-span">0.9</span>
            </div>
            <p class="row p-row p-row-last">
                <span class="col-md-6 table-span">Монтаж с обдиркой монтажной пленки</span>
                <span class="col-md-6 table-span">1.2</span>
            </p>
        </div>
        <!--table!-->
        <!--/row -->
        <h3>Помимо монтажа вас могут заинтересовать предложения нашего сервисного центра</h3>
        <br>
        <div class="row centered ">
            <div class="col-md-3 col-md-offset-3">
                <a href="../technicheskoe-obsluzhivanie-oborudovaniya" title="Техническое обслуживание оборудования">
                    <img src="../assets/img/service.jpg" alt="Техническое обслуживание оборудования">
                    <h4>Техническое обслуживание</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="../remont-oborudovaniya" title="Ремонт оборудования">
                    <img src="../assets/img/remont.jpg" alt="Ремонт оборудования">
                    <h4>Ремонт оборудования</h4>
                </a>
            </div>
        </div>
    </div>
    <!--/container -->
    <!-- ********** HEADER SECTION ********** -->
    <div class="greyback" style="" id="f">
        <div class="row ">
            <div class="col-md-6 col-md-offset-3  centered">
                <h2>Оставьте заявку и мы вам перезвоним</h2>
                <div class="col-md-10 col-md-offset-1  ">
                    <form role="form" action="send-form" method="post" enctype="plain">
                        <input type="name" name="name" class="subscribe-input" placeholder="Имя" required>
                        <input type="phone" name="phone" class="subscribe-input" placeholder="Телефон" required>
                        <input title="Комментарий" name="text" style="display:none" class="subscribe-input" placeholder="Комментарий" value="без коммента">
                        <br/>
                        <button class='btn btn-md btn-primary subscribe-submit' type="submit">Заказать</button>
                    </form>
                </div>
            </div>
        </div>
        <!--/row -->
    </div>
    <!-- /.container -->
    <div>
    </div>
    <!--/greyback -->
    <!--/container -->
    <!--/container -->
    <!-- ********** PHONE USER SECTION ********** -->
    <!-- ********** FOOTER SECTION ********** -->
    <div class="container">
        <p class="text-p centered mt">Наш адрес: г. Екатеринбург,ул. 8 марта, 204г. &nbsp Телефон: 8 (343) 3448090 &nbsp &copy; ОПТИМА ГРУПП</p>
        <br/>
    </div>
    <!--/footer -->
    {% if success %}
    <div class="modal" id="success-modal" role="dialog" data-show="true" style="display:block">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="$('.modal').hide()">&times;</button>
                    <h4 class="modal-title">Заявка отправлена</h4>
                </div>
                <div class="modal-body">
                    <p>{{ name }}, мы получили вашу заявку и свяжемся с вами в ближайшее время!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.modal').hide()">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
</body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function(d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter42278174 = new Ya.Metrika({
                id: 42278174,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true,
                trackHash: true
            });
        } catch (e) {}
    });
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function() {
            n.parentNode.insertBefore(s, n);
        };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/42278174" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</html>
