<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">
    <title>Обслуживание оборудования в Екатеринбурге | Оптима ГРУПП</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/catslider.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="assets/js/modernizr.custom.63321.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="  navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Переключить навигацию</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="assets/img/logo1.png" width="140"></a>
            </div>
            <div class="collapse navbar-collapse">
                <span class="slogan-span">Надежный партнер - качественные решения!</span>
                <ul class=" nav navbar-nav navbar-right pt5px">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle color-black" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Навигация <span class="caret"></span></a>
                        <ul class="dropdown-menu dm-main">
                            <li>
                                <a href="technicheskoe-obsluzhivanie-oborudovaniya">Техническое обслуживание</a>
                            </li>
                            <li>
                                <a href="remont-oborudovaniya">Ремонт оборудования</a>
                            </li>
                            <li>
                                <a href="montazh-oborudovaniya">Монтаж оборудования</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="stellazhi">Стеллажи</a>
                            </li>
                            <li>
                                <a href="torg-mebel">Торговая мебель</a>
                            </li>
                            <li>
                                <a href="telezhki-korzini">Тележки и корзины</a>
                            </li>
                            <li>
                                <a href="kass-boxes">Кассовые боксы</a>
                            </li>
                            <li>
                                <a href="holod-oborudovanie">Холодильное оборудование</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="delivery">Условия доставки</a>
                            </li>
                            <li>
                                <a href="about">Контакты</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="c42" href="#"> <i class="fa fa-phone "></i> 8 (343) 3448090</a>
                    </li>
                    <li>
                        <a class="c42" href="mailto:info@optimagp.ru"> <i class="fa fa-envelope"></i> info@optimagp.ru</a>
                    </li>
                    <li class="active">
                        <a href="#f" class="pt10px">
                            <button class='btn btn-sm btn-primary ' type="button">Заказать звонок</button>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- ********** WHITE SECTION ********** -->
    <div class="container menu-main">
        <div class="mh40px">
            <ol class="breadcrumb  nav-bread ">
                <li>
                    <a href=".">Главная</a>
                </li>
                <li class="active">
                    Техническое обслуживание оборудования
                </li>
            </ol>
            <br/>
            <br/>
        </div>
        <div class="row remont-raw raw1">
            <h1>Техническое обслуживание холодильного оборудования в Екатеринбурге</h1>
            <h2>Техническое обслуживание?</h2>
            <p>Компания «Оптима Групп» приветствует Вас на страницах нашего сайта</p>
            <p>
                Сайт, посвященн ремонту, монтажу, изготовлению, а также обслуживанию технического: холодильного и профессионального оборудования для торгово-производственных предприятий и предприятий общественного питания: магазинов, торговых центров, аптек, кафе, ресторанов, алкомаркетов, продуктовых магазинов, столовых, баров, закусочных, пиццерий и других, а так же торговых обслуживающих предприятий: цветочных магазинов.
            </p>
            <p>
                Компания «Оптима Групп» занимается обслуживанием, а так же ремонтом технического оборудования в Екатеринбурге, Свердловской области и Российской федерации. Значителен спектр наших клиентов - это: крупные компании торговых предприятий, средние и индивидуальные предприниматели. Наши специалисты имеют значительный опыт работы по выявлению и устранению самых сложных неисправностей, подходят к работе с профессиональным мастерством и используют в своей работе только качественнее комплектующие детали.
            </p>
            <p>
                Компания «Оптима Групп»
                предлагает услуги
                по обслуживанию
            </p>
            <p>
                Вашего теплового, холодильного, электромеханического и нейтрального оборудования:
            </p>
            <p>
                -<strong>Холодильное</strong> - (ледогенераторы (в т.ч. проточные), холодильные шкафы, бытовые холодильники, столы, витрины холодильные (со встроенным компрессорно-конденсаторным блоком);
            </p>
            <p>
                <strong>-Тепловое</strong> - (пароконвектоматы, конвекционные печи (до 10 уровней), пароконвектоматы, конвекционные печи (свыше 10 уровней), шкафы жарочные, шкафы расстоечные, плиты, фритюрницы, жарочные поверхности, грили, сковороды, кипятильники, котлы пищеварочные, тепловое оборудование 220 В);
            </p>
            <p>
                <strong>-Электромеханическое</strong> - (электромеханическое оборудование 380 В настольное, электромеханическое оборудование 380 В напольное, электромеханическое оборудование 220 В);
            </p>
            <p>
                -<strong>Посудомоечное </strong><strong>-</strong> (машины фронтальные, купольные, машины туннельного типа );
            </p>
            <p>
                -<strong>Холодильные камеры</strong> - (сплит-системы, моноблоки, камеры, линия раздачи, за 1 единицу)
            </p>
            <p>
                Мы даём гарантию на все виды работ и высокий уровень сервиса. Многолетний опыт. Выгодные цены.
            </p>
            <div>
                <br/>
            </div>
            <h2>Прайс на техническое обслуживание оборудования</h2>
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th>
                            <h3>Наименование оборудования</h3></th>
                        <th>
                            <h3>Стоимость технического обслуживания, руб./мес.</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3>Тепловое оборудование 380 В</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Пароконвектоматы, конвекционные печи (до 10 уровней)</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Пароконвектоматы, конвекционные печи (свыше 10 уровней)</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>Шкафы жарочные </td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Шкафы расстоечные </td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>Плиты, фритюрницы, жарочные поверхности, грили, сковороды</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Кипятильники </td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Котлы пищеварочные</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Тепловое оборудование 220 В</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Электромеханическое оборудование</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Электромеханическое оборудование 380 В настольное</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Электромеханическое оборудование 380 В напольное</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>Электромеханическое оборудование 220 В</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Посудомоечное оборудование</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Машины фронтальные, купольные</td>
                        <td>600</td>
                    </tr>
                    <tr>
                        <td>Машины туннельного типа</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Холодильное оборудование</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ледогенераторы (в т.ч. проточные)</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>Холодильные шкафы</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>Бытовые холодильники</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Столы, витрины холодильные (со встроенным компрессорно-конденсаторным блоком)</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Камеры холодильные</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Сплит-системы</td>
                        <td>600</td>
                    </tr>
                    <tr>
                        <td>Моноблоки</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Камеры</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Линия раздачи, за 1 единицу</td>
                        <td>250</td>
                    </tr>
                </tbody>
            </table>
            <!--table!-->
            <h3>Важные примечания касательно работы:</h3>
            <p>Стоимость технического обслуживания указана за единицу оборудования.Минимальная стоимость договора на техническое обслуживание составляет 2 500 рублей </p>
        </div>
        <!--/row -->
        <img src="assets/img/tech3.png" class="img-responsive img-remont" title=" пример поломки оборудования" alt="техническое обслуживание оборудования">
    </div>
    <!--/container -->
    <!-- ********** HEADER SECTION ********** -->
    <div class="greyback" style="" id="f">
        <div class="row ">
            <div class="col-md-6 col-md-offset-3  centered">
                <h2>Оставьте заявку на обслуживание</h2>
                <h3>И мы вам перезвоним</h3>
                <div class="col-md-10 col-md-offset-1  ">
                    <form role="form" action="send-form" method="post" enctype="plain">
                        <input type="name" name="name" class="subscribe-input" placeholder="Имя" required>
                        <input type="phone" name="phone" class="subscribe-input" placeholder="Телефон" required>
                        <input title="Комментарий" name="text" class="subscribe-input hidden" placeholder="Комментарий" value="без коммента">
                        <br/>
                        <button class='btn btn-md btn-primary subscribe-submit' type="submit">Заказать</button>
                    </form>
                </div>
            </div>
        </div>
        <!--/row -->
    </div>
    <!-- /.container -->
    <div>
    </div>
    <!--/greyback -->
    <!--/container -->
    <!--/container -->
    <!-- ********** PHONE USER SECTION ********** -->
    <!-- ********** FOOTER SECTION ********** -->
    <div class="container">
        <p class="text-p centered mt">Наш адрес: г. Екатеринбург, ул. Монтерская, 3 оф. 113. &nbsp Телефон: 8 (343) 3448090, 8-909-003-0909 &nbsp &copy; ОПТИМА ГРУПП</p>
        <br/>
    </div>
    <!--/footer -->
    {% if success %}
    <div class="modal" id="success-modal" role="dialog" data-show="true" style="display:block">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="$('.modal').hide()">&times;</button>
                    <h3 class="modal-title">Заявка отправлена. Мы свяжемся с вами в течении ближайшего времени!</h3>
                </div>
                <div class="modal-body">
                    <p>{{ name }}, мы получили вашу заявку и свяжемся с вами в ближайшее время!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.modal').hide()">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
</body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function(d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter42278174 = new Ya.Metrika({
                id: 42278174,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true,
                trackHash: true
            });
        } catch (e) {}
    });
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function() {
            n.parentNode.insertBefore(s, n);
        };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/42278174" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</html>
