<div class="container " style="display:none">
            <div class="row mtb centered">
                <h4>Наши преимущества</h4>
                <hr class="aligncenter mb">
                <div class="col-md-2">
                    <i class="fa fa-square-o fa-5x"></i>
                    <h5>Склад 2000 м. кв.</h5>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <i class="fa fa-hourglass-half fa-5x"></i>
                    <h5>Точно в срок</h5>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <i class="fa fa-industry fa-5x"></i>
                    <h5>Собственное производство</h5>
                    <button style="display:none" class='btn   btn-primary btn-sm ' >Видео с производства</button>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <i class="fa fa-credit-card fa-5x"></i>
                    <h5>Удобная оплата</h5>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <i class="fa fa-star-o fa-5x"></i>
                    <h5>Гарантия 100%</h5>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <i class="fa fa-file fa-5x"></i>
                    <h5>Скорость расчета</h5>
                </div>
                <!--/col-md-3 -->
            </div>
            <!--/row -->
        </div>
        <!--/container -->
        <div class="container ">
            <div class="row mtb centered">
                <h4>Наши преимущества</h4>
                <hr class="aligncenter mb">
                <div class="col-md-2">
                    <img src="assets/img/catalog/readydecisions.png" width="50" style="background-color:#333"/>
                    <h5>Готовые решения</h5>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <img src="assets/img/catalog/budget-org.png" width="50"/>
                    <h5>Ведение бюджетных организаций</h5>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <img src="assets/img/catalog/firm-style.png" width="50" style="background-color:#333"/>
                    <h5>Разработка фирменного стиля</h5>
                    <button style="display:none" class='btn   btn-primary btn-sm ' >Видео с производства</button>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <img src="assets/img/catalog/expert-support.png" width="50" style="background-color:#333"/>
                    <h5>Экспертная поддержка бизнеса</h5>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <img src="assets/img/catalog/autom.png" width="50" style="background-color:#333"/>
                    <h5>Автоматизация предприятий</h5>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <img src="assets/img/catalog/cafe-design.png" width="50" style="background-color:#333"/>
                    <h5>Дизайн ресторанов и кафе</h5>
                </div>
                <!--/col-md-3 -->
            </div>
            <!--/row -->
        </div>
        <!--/container -->
        <div class="container " id ="services">
            <div class="row mtb centered">
                <h3>Наши услуги</h3>
                <hr class="aligncenter mb">
                <div class="col-md-2">
                    <i class=" fa fa-pencil-square-o fa-5x"></i>
                    <h5 style="margin-top: 27px;">Контрольный замер</h5>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2">
                    <i class=" fa fa-object-ungroup fa-5x"></i>
                    <h5 style= "margin-top: 29px;">Подбор оборудования и проектирование</h5>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2">
                    <i class=" fa fa-wrench fa-5x"></i>
                    <h5>Монтажные и пусконаладочные работы</h5>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2">
                    <i class=" fa fa-gears fa-5x"></i>
                    <h5 style="margin-top: 12px;">Сервисное гарантийное и послегарантийное обслуживание</h5>
                </div>
                <!--/col-md-2 -->
                <div  style="display:none" class="col-md-2">
                    <img src="assets/img/y5.png" width="120px">
                    <h5>Поставка оборудования</h5>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2">
                    <img src="assets/img/y6.jpg" style="margin-top:20px" class="cashier">
                    <h5 style="margin-top: 15px;">Коммерческая недвижимость</h5>
                    <a target="_blank"  class="hide" href="assets/docs/pricerealty.xls" class="btn btn-primary btn-sm " data-dismiss="modal"> <i class="fa fa-file-excel-o"></i> скачать прайс</a>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2">
                    <img src="assets/img/y7.png" width="120px">
                    <h5 style="margin-top: 20px;">Выгодные условия кредитования</h5>
                    <p class="text-p" style="">В лице нашего партнера - Альфа банка</p>
                    <p class="text-p" > <a  class="hide" target="_blank" href="assets/docs/conditions.docx" class="btn btn-primary btn-sm " data-dismiss="modal"> <i class="fa fa-file-word-o"></i> скачать условия</a></p>
                </div>
                <!--/col-md-3 -->
            </div>
            <!--/row -->
        </div>
        <!--/container -->
          <div class="container" style="display:none">
            <div class="row mtb centered">
                <h3>Наши партнеры</h3>
                <hr class="aligncenter mb">
                <div class="col-md-2">
                    <img src="assets/img/p1.jpg" \>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2">
                    <img src="assets/img/p2.jpg" \>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-1" id="branford-logo">
                    <img src="assets/img/p3.jpg" \>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-3">
                    <img src="assets/img/p4.jpg" \ >
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <img src="assets/img/p5.jpg" \>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2">
                    <img src="assets/img/p6.jpg" \>
                </div>
                <!--/col-md-2 -->
            </div>
            <!--/row -->
            <div class="row mtb centered">
                <div class="col-md-2">
                    <img src="assets/img/p7.jpg" \>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2" id="kifato-logo"">
                    <img src="assets/img/p8.jpg" \>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-2">
                    <img src="assets/img/p9.png" \>
                </div>
                <!--/col-md-2 -->
                <div class="col-md-3" id="liebherr-logo">
                    <img src="assets/img/p10.jpg" \ >
                </div>
                <!--/col-md-3 -->
                <div class="col-md-2">
                    <img src="assets/img/p12.jpg" \>
                </div>
                <!--/col-md-2 -->
            </div>
            <!--/row -->
        </div>
        <div class="container">
            <div class="row mtb centered">
                <h3>Наши проекты</h3>
                <hr class="aligncenter mb">
                <div class="col-md-3">
                    <a data-toggle="modal" data-target="#myModal1" href="#"><img src="assets/img/food/1.png" alt="img01" width="300px"></a>
                    <h5 >Холодильное оборудование</h5>
                    <p class="text-p">В данной работе для продуктового магазина произведен монтаж холодильного оборудования с регулятором температуры и влажности.</p>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-3">
                    <a data-toggle="modal" data-target="#myModal2" href="#"><img src="assets/img/food/2.png" alt="img01" width="300px"></a>
                    <h5 >Холодильное оборудование с элементами суперструктуры</h5>
                    <p class="text-p">В этом проекте для супермаркета произведена сборка холодильного оборудования с элементами суперструктуры.</p>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-3">
                    <a data-toggle="modal" data-target="#myModal3" href="#"><img src="assets/img/food/3.png" alt="img01" width="300px"></a>
                    <h5 >Воздухоотводы</h5>
                    <p class="text-p">Нами в производственном помещении по разработанной нами схеме произведен монтаж воздухоотводов повышенно сложности.</p>
                </div>
                <!--/col-md-3 -->
                <div class="col-md-3">
                    <a data-toggle="modal" data-target="#myModal4" href="#"><img src="assets/img/food/4.png" alt="img01" width="300px"></a>
                    <h5 >Холодильное оборудование</h5>
                    <p class="text-p">В отделе торгового центра произведена сборка и монтаж холодильного оборудования.</p>
                </div>
                <!--/col-md-3 -->
            </div>
            <!--/row -->
        </div>
                <!-- MODAL DEMO FOR A MENU ITEM -->
        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h5 class="modal-title" id="myModalLabel">Холодильное оборудование</h5>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive aligncenter" src="assets/img/food/1.png" alt="">
                        <p class="text-p">Работа выполнялась легко и особых трудностей не было. 
                            Спроектировали, поставили, смонтировали, настроили и пустили в работу. Клиенту помогли быстро подобрать оборудование под его бюджет.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
            <!--/modal-dialog -->
        </div>
        <!-- /modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h5 class="modal-title" id="myModalLabel2">Холодильное оборудование с элементами суперструктуры</h5>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive aligncenter" src="assets/img/food/2.png" alt="">
                        <p class="text-p">Суперструктура холодильного оборудования является удобным элементом. Прочная структура была смонтирована по проекту без особых ослажнений. Опыт дает свои плоды.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">закрыть</button>
                    </div>
                </div>
            </div>
            <!--/modal-dialog -->
        </div>
        <!-- /modal -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h5 class="modal-title" id="myModalLabel2">Воздухоотводы</h5>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive aligncenter" src="assets/img/food/3.png" alt="">
                        <p class="text-p">Работа выполнялась быстро и равномерно. Сперва была спроектирована схема воздухоотводов, затем согласован проект работы.
                            После выполнения заказчик был приятно удивлен качеством работы.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
            <!--/modal-dialog -->
        </div>
        <!-- /modal -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h5 class="modal-title" id="myModalLabel2">Холодильное оборудование</h5>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive aligncenter" src="assets/img/food/4.png" alt="">
                        <p class="text-p">Основной упор сделан на компактность.
                            Задачей было расположение холодильного оборудования в компактном варианте. Задача выполнена успешно.
                            .
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <!--/modal-dialog -->
        </div>
        <!-- /modal -->